@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body
    padding: 0
    margin: 0
    font-family: 'Roboto', sans-serif
    a 
        color: white
        font-size: 16px
    a:hover 
        color: white
        text-decoration: none
    .btn.focus, .btn:focus
        box-shadow: none

* 
    outline: none

.tdn 
    text-decoration: none !important

.bbn 
    border: none !important
    padding: 0 !important

.h1
    font-size: 36px
    font-weight: bold
    color: rgba(29, 32, 61, 1)

.card 
    transition: .3s ease-in-out
    border: none
    z-index: 1

.card:hover 
    color: rgba(63, 128, 236, 1)
    transform: scale(1.05)
.hovers:hover::after
    transition: .4s ease-in-out
    width: 88%
.hovers::after
    content: ''
    position: absolute
    top: 15px
    transform: translate(2.5%)
    width: 0%
    height: -webkit-fill-available
    background: rgba(63, 128, 236, 1)
    border-radius: 0 0 8px 8px

.groupInfo 
    .arrow 
        position: absolute
        z-index: -1
        right: -52px
        top: 18px
    .cardinfo
        min-height: 360px
        position: relative
        .overwrap 
            height: 210px
            display: flex
            img
                align-self: flex-end
        h5
            color: #1D203D
            font-size: 20px
            font-weight: bold
            margin-top: 45px
        p 
            font-size: 14px
            margin-top: 10px
            color: #5A5970

#firstScreens
    background: url("../img/bgMainPageScreen1-2.png")
    min-height: 1850px
    #first 
        min-height: 831px
        .btnSign 
            width: 135px
            height: 54px
            border: 1px solid white
            background: transparent
            color: white
            font-weight: bold
        .container 
            position: relative
        .imgScreen1 
            position: absolute
            right: -118px
        .offer 
            color: white
            margin-top: 130px
            p 
                font-size: 20px
                font-family: 'Roboto', sans-serif
                font-weight: 400
            h1
                color: white
                font-size: 40px
                max-width: 490px
                font-weight: bold
                margin-top: 20px
                margin-bottom: 50px
                line-height: 150%
            .offerDesc 
                opacity: 0.7
            .btnGet 
                width: 168px
                height: 54px
                background-color: #fff
                color: rgba(63, 128, 236, 1)
                font-size: 15px
                font-weight: bold
                border-radius: 5px
                margin-bottom: 30px
    #second 
        margin-top: 108px
        .useful 
            h1 
                max-width: 490px
            p.desc
                font-size: 15px
                color: rgba(90, 89, 112, 1)
                font-weight: 400   
                margin-top: 20px
                margin-bottom: 70px 
            .btn 
                padding: 13px 20px 
                color:  rgba(90, 89, 112, 1)
                font-weight: 500
                border: 1.5px solid rgba(63, 128, 236, 0.5)
                border-radius: 5px
            .btn[aria-selected="true"]
                background-color: #3F80EC
                color: white !important
            .nav-tabs 
                border: none
            .tab-content
                .card-group 
                    margin-top: 60px
                    .card 
                        z-index: 1
                        position: relative
                        background: #FFFFFF
                        box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                        border-radius: 8px
                        border: none
                        height: 191px
                        .card-body
                            display: flex
                            flex-direction: column
                            justify-content: center
                            align-items: center
                            p 
                                font-weight: bold
                                font-size: 22px
                        .card-img-top 
                            width: auto
                            justify-content: center
#srceens3-4
    background: url("../img/bgMainPageScreen3-4.png")
    min-height: 2070px
    #thirty
        min-height: 1250px
        h1 
            margin-top: 140px
            margin-bottom: 70px
        .groupCard 
            .card 
                min-height: 165px
                display: flex
                align-items: center
                justify-content: center
                border: none
                z-index: 1
                position: relative
                background: #FFFFFF
                box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                border-radius: 6px
            .hovers:hover::after
                width: 80%
    #fourty 
        margin-top: 100px
        .leftBlock 
            p 
                font-size: 14px 
                color: rgba(90, 89, 112, 1)
        .rightBlock 
            .cardOther 
                border: none
                background-color: transparent
                h5 
                    color: rgba(29, 32, 61, 1)
                    font-size: 20px
                    font-weight: bold
                    margin-top: 25px
                    margin-bottom: 10px
                img 
                    box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                    border-radius: 14px
                p 
                    font-size: 14px 
                    color: rgba(90, 89, 112, 1)
#screens5-7 
    background: url("../img/bgMainPageScreen5-6-7.png")
    min-height: 2630px
    #fifth 
        min-height: 1051px
        margin-top: 120px
        .cardGroup 
            .hovers::after 
                transform: translate(4%)
            .card 
                border: none 
                background: #FFFFFF
                box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                border-radius: 8px
                padding: 50px
                z-index: 1
                p 
                    font-size: 17px
                    color: rgba(90, 89, 112, 1)
                .top 
                    display: flex
                    align-items: center
                    margin-bottom: 27px
                    h5 
                        font-weight: bold
                        font-size: 20px
                        margin: 0
                    .circle    
                        p 
                            color: rgba(63, 128, 236, 1)
                            font-size: 26px
                            font-weight: bold
                            margin: 0
            .card:hover 
                .circle 
                    background: rgba(64, 125, 226, 1)
                    p 
                        color: rgba(255, 255, 255, 1)
        .bntSeeMore 
            padding: 18px 50px
            background-color: rgba(63, 128, 236, 1)
            color: rgba(255, 255, 255, 1)
            border-radius: 5px
            font-size: 15px
            font-weight: bold
            margin-top: 70px
    #sixth 
        min-height: 861px
        margin-top: 180px
        .btnMorePosts
            padding: 18px 50px
            border-radius: 5px 
            background: rgba(63, 128, 236, 1)
            color: white
            margin-top: 70px
            font-weight: bold
        .cardGroup 
            .card 
                border: none 
                min-height: 362px
                box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                border-radius: 8px
                z-index: 1
                .padding 
                    padding: 20px 25px
                    h5 
                        font-size: 20px
                        font-weight: bold
                        margin-top: 20px
                    p 
                        font-size: 14px
                        color: rgba(90, 89, 112, 1)
                        margin-top: 7px
                    .card-footer 
                        margin-top: 30px
                        background: transparent
                        border: none
                        padding: 0
                        img 
                            margin-right: 3px
            .hovers::after 
                top: 20px

.circle 
    width: 60px
    height: 60px
    background: rgba(63, 128, 236, 0.05)
    transition: .5s ease-in-out
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center 
    margin-right: 25px

#email 
    margin-top: 200px
    .leftBlock 
        form 
            input[type="text"] 
                background: #F2F5FF
                border-radius: 5px
                padding: 13.5px 26px
                border: none
                min-width: 347px
                margin-right: 15px
                min-height: 54px
                color: rgba(90, 89, 112, 1)
            input[type="button"] 
                background: rgba(63, 128, 236, 1)
                color: white 
                font-weight: bold
                font-size: 15px
                padding: 16px 39px
                border: none 
                border-radius: 5px
                cursor: pointer
            p 
                color: rgba(138, 142, 171, 1)
                opacity: 0.7 
                font-size: 14px
footer 
    min-height: 160px
    margin-top: 200px
    background-color: rgba(43, 47, 78, 1)
    display: flex
    align-items: center
    .container 
        display: flex
        align-items: center
        nav 
            align-items: center
            li 
                a 
                    font-size: 15px
                    justify-content: space-between
                a:hover 
                    color: white

#about
    background: url("../img/bgAbout.png") no-repeat
    background-position-y: 150px
    nav 
        li 
            position: relative
            a
                color: rgba(29, 32, 61, 1)          
        .active:before 
            content: ''
            position: absolute
            width: 100%
            height: 4px
            background-color: rgba(245, 79, 63, 1)
            top: -30px
            left: 0
            transition: .2s linear
        .active
            font-weight: bold
        .nav-tabs 
            border: none
            a 
                border: none
        .btnSign 
            width: 135px
            height: 54px
            border: 1px solid rgba(63, 128, 236, 1)
            background: transparent
            color: rgba(63, 128, 236, 1)
            font-weight: bold
    #first 
        .container 
            position: relative
        .imgScreen1 
            position: absolute
            right: -50px
        .offer 
            color: rgba(90, 89, 112, 1)
            margin-top: 130px
            p 
                font-size: 16px
                font-family: 'Roboto', sans-serif
                font-weight: 400
                max-width: 390px
            h1
                color: rgba(29, 32, 61, 1)
                font-size: 40px
                max-width: 315px
                font-weight: bold
                margin-top: 20px
                margin-bottom: 50px
                line-height: 170%
            .offerDesc 
                opacity: 0.7
        #screen2
            margin-top: 400px
            .groupInfoCards 
                margin-top: 80px
                .infoCard 
                    max-width: 213px
                    h5 
                        font-size: 22px 
                        color: rgba(29, 32, 61, 1)
                        font-weight: bold
                    p 
                        font-size: 16px 
                        color: rgba(90, 89, 112, 1)
                    img 
                        box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
        #screen3 
            margin-top: 270px    
        #screen4 
            min-height: 450px
            
#assistant    
    background: url("../img/bgAboutTab2.png") no-repeat
    background-position-y: 150px
    nav 
        li 
            position: relative
            a
                color: rgba(29, 32, 61, 1)          
        .active:before 
            content: ''
            position: absolute
            width: 100%
            height: 4px
            background-color: rgba(245, 79, 63, 1)
            top: -30px
            left: 0
            transition: .2s linear
        .active
            font-weight: bold
        .nav-tabs 
            border: none
            a 
                border: none
        .btnSign 
            width: 135px
            height: 54px
            border: 1px solid rgba(63, 128, 236, 1)
            background: transparent
            color: rgba(63, 128, 236, 1)
            font-weight: bold
    #screen1
        min-height: 1000px
        .block1
            h1 
                margin-top: 100px
            .search 
                min-height: 54px
                padding: 13px 54px
                background-image: url("../img/search.png")
                background-repeat: no-repeat
                background-position: 17px
                border: none
                background-color: #F2F5FF
                border-radius: 5px
            p 
                color: rgba(138, 142, 171, .5)
                font-size: 15px
                margin-top: 15px
        .block2
            margin-top: 172px
            .btn 
                padding: 13px 20px 
                color:  rgba(90, 89, 112, 1)
                font-weight: 500
                border: 1.5px solid rgba(63, 128, 236, 0.5)
                border-radius: 5px
            .btn[aria-selected="true"]
                background-color: #3F80EC
                color: white !important
            .nav-tabs 
                border: none
            .tab-content
                .card-group 
                    margin-top: 60px
                    .card 
                        z-index: 1
                        position: relative
                        background: #FFFFFF
                        box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                        border-radius: 8px
                        border: none
                        height: 191px
                        .card-body
                            display: flex
                            flex-direction: column
                            justify-content: center
                            align-items: center
                            p 
                                font-weight: bold
                                font-size: 22px
                        .card-img-top 
                            width: auto
                            justify-content: center
    #screen2 
        min-height: 670px
        margin-top: 250px
        .overwrap
            position: relative
            .circle 
                box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                background-color: #fff
                position: absolute
                left: -25px
                bottom: -25px
                p 
                    color: rgba(63, 128, 236, 1)
                    font-size: 20px
                    font-weight: bold
                    margin: 0
.searchpage
    height: 4200px !important
    background: url("../img/assistantfamily.png") no-repeat !important
    background-position-y: 150px !important
    #search 
        height: 2400px
        p.page 
            margin-top: 80px
            font-size: 14px 
            margin-bottom: 60px
            color: rgba(138, 142, 171, 1)
        .leftBlock
            padding-right: 35px
            .groupCard
                .card 
                    padding: 20px 25px
                    box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                    border-radius: 8px
                    max-height: 172px
                    border: none
                    .card-header 
                        font-size: 20px 
                        font-weight: bold
                        color: rgba(29, 32, 61, 1) 
                        background-color: transparent
                        padding: 0 0 10px 0
                        border-bottom: 1px solid rgba(138, 142, 171, .2)
                    ul 
                        max-height: 90px
                        li 
                            display: flex
                            a
                                color: rgba(90, 89, 112, 1)
                                margin: 3px 0 3px
                        li.active 
                            display: list-item
                            color: rgba(63, 128, 236, 1) 
                            margin-left: 21px
                            font-weight: bold
                            a 
                                color: rgba(63, 128, 236, 1) 
                .card:hover 
                    transform: scale(1)    
                .article 
                    p 
                        color: rgba(90, 89, 112, 1)
                        font-weight: bold
                        font-size: 16px
            .AdBlock 
                height: 460px
                background-color: rgba(237, 243, 255, 1)
                margin-top: 100px
                p 
                    font-weight: bold
                    font-size: 22px
        .rightBlock 
            p 
                color: rgba(90, 89, 112, 1)
                font-size: 16px
            h5 
                font-size: 22px
                font-weight: bold
                color: rgba(29, 32, 61, 1)
            ul 
                padding: 0
                li
                    display: block
                    color: rgba(90, 89, 112, 1)
                    align-items: center
                    text-decoration: underline
                    margin-bottom: 8px
                    i 
                        color: rgba(63, 128, 236, 1)
                        padding-right: 10px
            .news 
                margin-top: 100px
            .groupCard 
                .hovers:hover::after 
                    width: 95% !important
                .hovers::after 
                    top: 10px !important
                .card 
                    text-decoration: none
                    border: none 
                    z-index: 1
                    max-height: 110px
                    box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                    border-radius: 8px
                    .card-img-left
                        object-fit: contain
                        height: 110px
                    .date 
                        font-size: 14px
                        color: rgba(138, 142, 171, 1)
                    h6 
                        font-size: 16px 
                        font-weight: bold
                        color: rgba(29, 32, 61, 1)
                .card:hover 
                    transform: scale(1)
                    color: none
    
#popularNews 
    margin-top: 120px
    .right-70 
        margin-right: 70px
    p.active 
        color: rgba(29, 32, 61, 1)
        font-size: 36px 
        font-weight: bold
        cursor: pointer
    p.new
        color: rgba(138, 142, 171, 1)
        font-size: 20px 
        font-weight: bold
        padding-bottom: 5px
        cursor: pointer
    .groupCard 
        .card 
            margin-top: 30px
            text-decoration: none
            border: none 
            max-height: 130px
            box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
            border-radius: 8px
            .card-img-left 
                object-fit: contain
                height: 130px
            .card-body 
                .category 
                    color: rgba(138, 142, 171, 1)
                h6 
                    color: rgba(29, 32, 61, 1)
                    font-size: 20px
                    font-weight: bold
        .card:hover 
            transform: none

.newsResult 
    background: url("../img/bgResult.png") 0 0 no-repeat
    padding-top: 220px
    padding-bottom: 200px

.top-60 
    margin-top: 60px

.h5 
    font-size: 20px 
    font-weight: bold
    color: rgba(29, 32, 61, 1)
    margin-top: 80px

.menu 
    img 
        object-fit: contain
    p 
        font-size: 16px 
        font-weight: bold
        color: rgba(29, 32, 61, 1)
        margin-left: 15px 


.color-grey 
    color: rgba(90, 89, 112, 1)
    font-size: 16px

header.lk
    box-shadow: 0px 4px 50px rgba(70, 70, 70, 0.05)
    height: 94px
    nav
        .menu 
            .dropdown-toggle2 
                color: rgba(29, 32, 61, 1)
                &:after 
                    display: none
            .dropdown2-menu
                border: none 
                box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                border-radius: 10px
                width: 750px
                position: absolute
                top: 100%
                left: 0
                z-index: 1000
                display: none
                float: left
                color: #212529
                text-align: left
                background-color: #fff
                background-clip: padding-box
                .addHover 
                    background-color: rgba(237, 243, 255, 1)  
                    color: rgba(63, 128, 236, 1) !important
                    display: flex
                    justify-content: space-between
                    font-weight: bold
                    i 
                        display: inline-flex !important
                        transform: rotate(90deg)
                .leftBlock 
                    a 
                        display: inline-flex
                        width: 100%
                .leftBlock, .middleBlock, .rightBlock
                    width: 33.33%
                    a 
                        color: rgba(90, 89, 112, 1)
                        padding: 11px 35px
                        i 
                            display: none
                .middleBlock 
                    .soc, .nesoc 
                        display: none
                        flex-direction: column
                .rightBlock 
                    .mill, .phis, .family, .inv, .other, .pens, .ip, .urface
                        display: none
                        flex-direction: column
                        .block 
                            display: flex
                            a
                                width: 100%
                                p 
                                    color: rgba(90, 89, 112, 1) !important
                                    font-weight: normal !important
                                    font-size: 13px
                                    margin-left: 0
                                    margin-bottom: 0
                            &:hover 
                                a 
                                    font-weight: bold
                                    background-color: rgba(237, 243, 255, 1)
                                    color: rgba(63, 128, 236, 1)
                                
                h5 
                    padding: 30px 35px 0 35px
        .rightBlock
            a 
                color: rgba(29, 32, 61, 1)
                font-size: 16px
                &[aria-expanded="false"] 
                    i 
                        transform: rotate(180deg)
                &:hover 
                    text-decoration: none
            .dropdown-toggle::after 
                display: none
            .profile
                margin-left: 60px 
            .dropdown-menu 
                box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                border-radius: 6px
                border: none
                top: 122%
                left: -18px
                a
                    font-size: 15px 
                    color: rgba(29, 32, 61, 1)
                    transition: .3s linear
                    &:hover
                        color: rgba(63, 128, 236, 1)
                        background-color: transparent
                    
#lk
    #screen1
        h4.path 
            margin-top: 100px
            font-size: 22px 
            font-weight: bold
            color: rgba(29, 32, 61, 1)
        .bigCard 
            margin-top: 50px
            padding: 70px 0
            box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
            border-radius: 12px
            .card-header
                background-color: transparent
                border: none
                h3 
                    font-size: 36px 
                    font-weight: bold
                    color: rgba(29, 32, 61, 1)
            .card-body
                a 
                    padding: 21px 50px
                    background-color: rgba(63, 128, 236, 1)
                    border-radius: 5px
                    color: white
                    border: none
                    font-size: 15px 
                    font-weight: bold
                p 
                    color: rgba(138, 142, 171, 1)   
                    margin-top: 20px
    #screen2 
        h3 
            margin-top: 140px 
            font-size: 36px 
            font-weight: bold
            color: rgba(29, 32, 61, 1)
        .groupCard 
            margin-bottom: 200px
            .card 
                box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                border-radius: 8px
                .card-body
                    padding: 40px 72px
                    img 
                        object-fit: contain
                    .cardWrapper 
                        margin-left: 64px
                        h4 
                            color: rgba(29, 32, 61, 1)
                            font-size: 32px 
                            transition: .3s linear
                            font-weight: bold
                        p 
                            font-size: 16px 
                            color: rgba(90, 89, 112, 1)
                        .bottomBlock 
                            color: rgba(138, 142, 171, 1) 
                            font-size: 15px
                            span 
                                font-size: 40px 
                                font-weight: bold
                                color: rgba(63, 128, 236, 1)
                &:hover 
                    .cardWrapper
                        h4 
                            color: rgba(63, 128, 236, 1)

.red 
    border: 1px solid #F54F3F !important
.wrong 
    color: rgba(245, 79, 63, 1)
    font-size: 14px

h3.h3 
    font-size: 36px 
    font-weight: bold
    color: rgba(29, 32, 61, 1)
    margin-top: 92px

#payment 
    .main 
        margin-bottom: 200px
        h5.h5 
            font-size: 22px 
            font-weight: bold
            color: rgba(29, 32, 61, 1)
        h6 
            margin-top: 60px
            font-size: 20px
            font-weight: bold
            color: rgba(29, 32, 61, 1)
            margin-bottom: 30px
        .categoryName
            margin-top: 60px
            font-size: 14px 
            color: rgba(138, 142, 171, 1)
        .category 
            h6
                color: rgba(90, 89, 112, 1)
                font-weight: bold
                font-size: 20px
                margin-top: 0
        .cost, .sale
            p 
                span 
                    font-size: 22px 
                    font-weight: bold
                    margin-left: 12px
                    color: rgba(63, 128, 236, 1)
        .sale 
            p 
                span 
                    color: rgba(245, 79, 63, 1) !important
        form 
            input 
                background-color: rgba(242, 245, 255, 1)
                border-radius: 5px
                padding: 13px 26px 
                border: none
                min-width: 345px
                color: rgba(90, 89, 112, 1)
            button 
                border-radius: 5px 
                color: white 
                background: rgba(63, 128, 236, 1)
                padding: 18px 50px
                font-weight: bold
                margin-left: 15px
        .groupCard 
            display: flex
            width: 100%
            .card 
                height: 200px 
                box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                border-radius: 8px
                display: flex
                justify-content: center
                align-items: center

#myProfile  
    img 
        object-fit: contain
    .imgProf 
        p 
            font-size: 20px 
            font-weight: bold
            color: rgba(29, 32, 61, 1)
    hr 
        height: 1px 
        background: rgba(138, 142, 171, .3)
        border: none
        margin-top: 40px
    .data 
        h5 
            font-size: 22px 
            font-weight: bold
            color: rgba(29, 32, 61, 1)
    .card 
        &:hover
            transform: scale(1)
            color: rgba(29, 32, 61, 1)
    .passport 
        .yourPasport
            margin-top: 75px
            h5 
                color: rgba(29, 32, 61, 1)
                font-size: 17px
                font-weight: bold
            .buttons
                a 
                    text-decoration: underline
                    img 
                        margin-right: 10px
                .edit 
                    color: rgba(63, 128, 236, 1) 
                .delete 
                    color: rgba(245, 79, 63, 1)
    .discharges
        h5 
            margin-bottom: 50px
            font-weight: bold
            color:rgba(29, 32, 61, 1)
        .discharge 
            margin-top: 60px
            i 
                color: rgba(63, 128, 236, 1)
            h6 
                font-weight: bold
            .card 
                .card-body 
                    p 
                        color: rgba(90, 89, 112, 1)
                        font-weight: bold
                    a 
                        color: rgba(63, 128, 236, 1) 
                        text-decoration: underline
                        margin-left: 8px

    .submit 
        display: flex
        margin-top: 50px
        align-items: center
        .done 
            display: block
        p 
            display: none
            margin: 0
            font-size: 14px 
            color: rgba(77, 175, 73, 1)
    .block 
        p 
            font-weight: bold
            font-size: 16px 
            color: rgba(29, 32, 61, 1)
            margin-top: 35px
        input 
            background: rgba(242, 245, 255, 1)
            border-radius: 5px
            border: none
            padding: 13px 26px
        input[type="password"]
            background-image: url("../img/noView.png")
            background-position: 95% 50% 
            background-repeat: no-repeat

#test 
    h4.h4 
        font-size: 22px 
        font-weight: bold
        color: rgba(29, 32, 61, 1)
        margin-top: 100px
    .progress 
        height: 10px
        border-radius: 50px
        background: rgba(63, 128, 236, .1)
        margin-top: 45px
        margin-bottom: 80px
        .progress-bar 
            height: 10px 
            border-radius: 50px
            background: rgba(63, 128, 236, 1)
    .groupCard 
        .wrong 
            margin-top: 13px
            display: block
        .redCard 
            border: 2px solid rgba(245, 79, 63, 1)
        .card 
            margin-top: 40px
            padding: 30px 40px
            box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
            border-radius: 12px
            &:hover
                transform: none
                color: rgba(29, 32, 61, 1)
            .card-header 
                background: transparent 
                border: none
                .color-grey 
                    color: rgba(138, 142, 171, .4) !important
                    font-size: 14px
            .card-body 
                color: rgba(90, 89, 112, 1)
                ol
                    li 
                        margin-left: 17px
                        margin-top: 10px
                ul 
                    li 
                        display: flex
                        align-items: start
                        margin-top: 10px
                        input 
                            display: none
                        label 
                            display: inline-flex
                            user-select: none
                        label::before 
                            content: ''
                            display: inline-block
                            width: 20px
                            height: 20px
                            flex-shrink: 0
                            flex-grow: 0
                            margin-top: 5px
                            border: 1px solid rgba(63, 128, 236, 1)
                            border-radius: 2px
                            margin-right: 15px
                            background-repeat: no-repeat
                            background-position: center center
                            background-size: 50% 50%
                        input:checked+label::before 
                            border-color: #0b76ef
                            background-color: #0b76ef
                            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")       
            .card-footer 
                background: transparent 
                border: none
                input 
                    display: none
                input[type=radio]:checked + label:before
                    background: url("../img/radioOn.png") 0 0 no-repeat
                label 
                    color: rgba(29, 32, 61, 1)
                    font-size: 16px
                    display: inline-block;
                    cursor: pointer
                    position: relative
                    padding-left: 35px
                    &:before 
                        content: "";
                        display: inline-block;
                        width: 24px
                        height:  24px
                        position: absolute
                        left: 0
                        bottom: 1px
                        background: url("../img/radioOff.png") 0 0 no-repeat
    .buttons 
        margin-top: 70px

button.transpBlue
    border: 1px solid rgba(63, 128, 236, 1)
    background: transparent 
    padding: 18px 50px
    font-weight: bold
    font-size: 15px
    color: rgba(63, 128, 236, 1) 

button.btnBlue 
    padding: 18px 50px 
    background: rgba(63, 128, 236, 1)
    font-weight: bold
    color: white
    font-size: 15px

#repeatTest 
    .main 
        margin-top: 176px
        h5 
            font-size: 21px
            font-weight: bold
            color: rgba(90, 89, 112, 1)
        h1  
            font-size: 36px 
            font-weight: bold 
            color: rgba(29, 32, 61, 1)
            max-width: 520px
            margin-top: 30px
        form 
            margin-top: 60px 
            input 
                border-radius: 5px 
                background: rgba(242, 245, 255, 1)
                color: rgba(90, 89, 112, 1)
                border: none
                padding: 17px 26px
                width: 60%
            button 
                margin-left: 15px
        p 
            color: rgba(138, 142, 171, .7)
            font-size: 14px
            margin-top: 20px

#page404 
    background: url("../img/bg404.png") 121px 190px no-repeat
    .main 
        margin-top: 139px
    h1  
        font-size: 36px 
        font-weight: bold 
        color: rgba(29, 32, 61, 1)
        margin-bottom: 50px
        margin-top: 70px

#result 
    h2 
        font-weight: bold
        font-size: 36px
        color: rgba(29, 32, 61, 1)
        margin-top: 70px
        margin-bottom: 40px
    .groupCard  
        .myCard 
            .shows 
                display: none
            .dropdown-toggle[aria-expanded="true"] + .shows 
                display: block
            .dropdown-toggle 
                .card 
                    box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                    border-radius: 8px
                    padding: 25px 20px
                    z-index: 2
                    &:hover 
                        transform: none
                    .card-body 
                        display: flex
                        align-items: center
                        color: rgba(29, 32, 61, 1)
                        h5 
                            font-weight: bold 
                            font-size: 20px
                            margin-bottom: 0
                            max-width: 85%
                            transition: .2s linear
                        i 
                            font-weight: bold 
                            color: rgba(90, 89, 112, 1)
                            font-size: 20px
                            transform: rotate(180deg)
                            transition: .2s linear
                &[aria-expanded="true"]
                    .card 
                        .card-body
                            h5 
                                color: rgba(63, 128, 236, 1)
                            i 
                                transform: none
                &:after 
                    display: none
            .dropdown-menu 
                position: relative !important
                transform: none !important
                float: none !important
                z-index: auto
                box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                border-radius: 0px 0px 8px 8px
                border: none
                padding: 40px
                will-change: auto !important
                .gray
                    color: rgba(90, 89, 112, 1)
                h5 
                    font-size: 20px 
                    font-weight: bold
                    color: rgba(29, 32, 61, 1)
                ul
                    li 
                        display: flex
                        margin-top: 15px
                        b 
                            margin-right: 7px
                            color: rgba(29, 32, 61, 1)
                .summ 
                    font-weight: bold
                    font-size: 20px
                    color: rgba(29, 32, 61, 1)
                    margin-top: 20px
        .hovers 
            &:after
                display: none
            &:before 
                content: ''
                z-index: -10
                position: absolute
                top: 15px
                height: -webkit-fill-available
                background: #3f80ec
                border-radius: 0 0 8px 8px
                width: 95% !important
                transform: translate(-1.5%) !important
    .bottomThanCard
        margin-top: 60px
        .discharge 
            img 
                object-fit: contain
            .card 
                .card-body 
                    p 
                        color: rgba(90, 89, 112, 1)
                        font-weight: bold
                    a 
                        color: rgba(63, 128, 236, 1) 
                        text-decoration: underline
                        margin-left: 8px
    
/** Modals **/ 

.modal
    border: none
    .modal-dialog
        max-width: 750px
        .modal-header 
            .description 
                max-width: 380px
                margin: 0
        .modal-content
            box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
            border-radius: 16px 
            padding: 80px 125px 
            .modal-body 
                .loc 
                    h5 
                        font-size: 20px 
                        font-weight: bold
                        color: rgba(29, 32, 61, 1)
                    p 
                        span 
                            color: rgba(90, 89, 112, 1)
                form
                    position: relative
                    input 
                        height: 54px
                        background: #F2F5FF
                        border-radius: 5px
                        border: none
                        padding: 13px 26px
                        color: rgba(90, 89, 112, 1)
                    input.login
                        background-image: url("../img/user.png")
                        background-repeat: no-repeat
                        background-position: 96%
                    input.pass
                        background-image: url("../img/noView.png")
                        background-repeat: no-repeat
                        background-position: 96%    
                    .list-group 
                        display: none
                    ul#myList 
                        max-height: 230px
                        overflow: hidden
                        background-color: white
                        li 
                            border: none
                    .inputs 
                        border-radius: 5px
                        .mCSB_scrollTools 
                            .mCSB_draggerContainer 
                                display: flex
                                align-items: center
                            .mCSB_draggerRail 
                                background-color: rgba(138, 142, 171, .3)
                                align-items: center
                                height: 90%
                                width: 1px
                            .mCSB_dragger 
                                .mCSB_dragger_bar     
                                    width: 3px 
                                    background-color: rgba(63, 128, 236, 1)
                                    height: 15px
                    .plusClass 
                        box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                        border: 1px solid #3F80EC
                        position: absolute
                        width: 100%
                        ::-webkit-scrollbar 
                            width: 3px

                        ::-webkit-scrollbar-track 
                            border-radius: 10px
                        
                        ::-webkit-scrollbar-thumb 
                            background: rgba(63, 128, 236, 1)
                            border-radius: 10px

                    a.forget 
                        font-size: 15px 
                        color: rgba(63, 128, 236, 1)
                        display: flex
                        justify-content: flex-end
                        margin: 12px 0 30px 0
                        font-weight: bold
                    .btnSignIn 
                        background-color: rgba(63, 128, 236, 1)
                        color: white 
                        border-radius: 5px
                        font-weight: bold
                        padding: 18px 100px
                        display: flex
                        justify-content: center
            .modal-body, .modal-header, .modal-footer
                border: none
                .manyally 
                    color: rgba(63, 128, 236, 1)
                    font-weight: bold
                    &:hover 
                        text-decoration: none
            .modal-title  
                justify-content: center
                font-size: 30px 
                font-weight: bold
                display: flex
        .close 
            top: -22px
            padding: 10px 15px
            background-color: rgba(63, 128, 236, 1)
            color: white 
            font-weight: normal
            border-radius: 50%
            right: -22px
            position: absolute
            opacity: 1
        .close:focus 
            outline: none
        .modal-footer 
            .soc 
                padding-bottom: 25px
                border-bottom: 1px solid rgba(138, 142, 171, .3)
            p 
                font-size: 15px 
                color: #5A5970
                a 
                    color:  rgba(63, 128, 236, 1)
                    text-decoration: underline
                    margin-left: 3px
                    font-weight: bold
                    cursor: pointer
