@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body
    padding: 0
    margin: 0
    font-family: 'Roboto', sans-serif
    a 
        color: white
        font-size: 16px
    a:hover 
        color: white
    .btn.focus, .btn:focus
        box-shadow: none

* 
    outline: none

.tdn 
    text-decoration: none !important

.bbn 
    border: none !important
    padding: 0 !important

.h1
    font-size: 36px
    font-weight: bold
    color: rgba(29, 32, 61, 1)

.card 
    transition: .3s ease-in-out

.card:hover 
    color: rgba(63, 128, 236, 1)
    transform: scale(1.05)
.hovers:hover::after
    transition: .4s ease-in-out
    width: 88%
.hovers::after
    content: ''
    position: absolute
    top: 15px
    transform: translate(2.5%)
    width: 0%
    height: -webkit-fill-available
    background: rgba(63, 128, 236, 1)
    border-radius: 0 0 8px 8px

#firstScreens
    background: url("../img/bgMainPageScreen1-2.png")
    min-height: 1850px
    #first 
        min-height: 831px
        .btnSign 
            width: 135px
            height: 54px
            border: 1px solid white
            background: transparent
            color: white
            font-weight: bold
        .container 
            position: relative
        .imgScreen1 
            position: absolute
            right: -118px
        .offer 
            color: white
            margin-top: 130px
            p 
                font-size: 20px
                font-family: 'Roboto', sans-serif
                font-weight: 400
            h1
                color: white
                font-size: 40px
                max-width: 490px
                font-weight: bold
                margin-top: 20px
                margin-bottom: 50px
                line-height: 150%
            .offerDesc 
                opacity: 0.7
            .btnGet 
                width: 168px
                height: 54px
                background-color: #fff
                color: rgba(63, 128, 236, 1)
                font-size: 15px
                font-weight: bold
                border-radius: 5px
                margin-bottom: 30px
    #second 
        margin-top: 108px
        .useful 
            h1 
                max-width: 490px
            p.desc
                font-size: 15px
                color: rgba(90, 89, 112, 1)
                font-weight: 400   
                margin-top: 20px
                margin-bottom: 70px 
            .btn 
                padding: 13px 20px 
                color:  rgba(90, 89, 112, 1)
                font-weight: 500
                border: 1.5px solid rgba(63, 128, 236, 0.5)
                border-radius: 5px
            .btn[aria-selected="true"]
                background-color: #3F80EC
                color: white !important
            .nav-tabs 
                border: none
            .tab-content
                .card-group 
                    margin-top: 60px
                    .card 
                        z-index: 1
                        position: relative
                        background: #FFFFFF
                        box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                        border-radius: 8px
                        border: none
                        height: 191px
                        .card-body
                            display: flex
                            flex-direction: column
                            justify-content: center
                            align-items: center
                            p 
                                font-weight: bold
                                font-size: 22px
                        .card-img-top 
                            width: auto
                            justify-content: center
#srceens3-4
    background: url("../img/bgMainPageScreen3-4.png")
    min-height: 2070px
    #thirty
        min-height: 1250px
        h1 
            margin-top: 140px
            margin-bottom: 70px
.groupInfo 
    .arrow 
        position: absolute
        z-index: -1
        right: -52px
        top: 18px
    .cardinfo
        min-height: 360px
        position: relative
        .overwrap 
            height: 210px
            display: flex
            img
                align-self: flex-end
        h5
            color: #1D203D
            font-size: 20px
            font-weight: bold
            margin-top: 45px
        p 
            font-size: 14px
            margin-top: 10px
            color: #5A5970
        .groupCard 
            .card 
                min-height: 165px
                display: flex
                align-items: center
                justify-content: center
                border: none
                z-index: 1
                position: relative
                background: #FFFFFF
                box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                border-radius: 6px
            .hovers:hover::after
                width: 80%
    #fourty 
        margin-top: 100px
        .leftBlock 
            p 
                font-size: 14px 
                color: rgba(90, 89, 112, 1)
        .rightBlock 
            .cardOther 
                border: none
                background-color: transparent
                h5 
                    color: rgba(29, 32, 61, 1)
                    font-size: 20px
                    font-weight: bold
                    margin-top: 25px
                    margin-bottom: 10px
                img 
                    box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                    border-radius: 14px
                p 
                    font-size: 14px 
                    color: rgba(90, 89, 112, 1)
#screens5-7 
    background: url("../img/bgMainPageScreen5-6-7.png")
    min-height: 2630px
    #fifth 
        min-height: 1051px
        margin-top: 120px
        .cardGroup 
            .hovers::after 
                transform: translate(4%)
            .card 
                border: none 
                background: #FFFFFF
                box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                border-radius: 8px
                padding: 50px
                z-index: 1
                p 
                    font-size: 17px
                    color: rgba(90, 89, 112, 1)
                .top 
                    display: flex
                    align-items: center
                    margin-bottom: 27px
                    h5 
                        font-weight: bold
                        font-size: 20px
                        margin: 0
                    .circle 
                        width: 60px
                        height: 60px
                        background: rgba(63, 128, 236, 0.05)
                        transition: .5s ease-in-out
                        border-radius: 50%
                        display: flex
                        justify-content: center
                        align-items: center 
                        margin-right: 25px
                        p 
                            color: rgba(63, 128, 236, 1)
                            font-size: 26px
                            font-weight: bold
                            margin: 0
            .card:hover 
                .circle 
                    background: rgba(64, 125, 226, 1)
                    p 
                        color: rgba(255, 255, 255, 1)
        .bntSeeMore 
            padding: 18px 50px
            background-color: rgba(63, 128, 236, 1)
            color: rgba(255, 255, 255, 1)
            border-radius: 5px
            font-size: 15px
            font-weight: bold
            margin-top: 70px
    #sixth 
        min-height: 861px
        margin-top: 180px
        .btnMorePosts
            padding: 18px 50px
            border-radius: 5px 
            background: rgba(63, 128, 236, 1)
            color: white
            margin-top: 70px
            font-weight: bold
        .cardGroup 
            .card 
                border: none 
                min-height: 362px
                box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
                border-radius: 8px
                z-index: 1
                .padding 
                    padding: 20px 25px
                    h5 
                        font-size: 20px
                        font-weight: bold
                        margin-top: 20px
                    p 
                        font-size: 14px
                        color: rgba(90, 89, 112, 1)
                        margin-top: 7px
                    .card-footer 
                        margin-top: 30px
                        background: transparent
                        border: none
                        padding: 0
                        img 
                            margin-right: 3px
            .hovers::after 
                top: 20px
    #seventh 
        min-height: 500px 
        margin-top: 110px
.leftBlock 
    form 
        input[type="text"] 
            background: #F2F5FF
            border-radius: 5px
            padding: 13.5px 26px
            border: none
            min-width: 347px
            margin-right: 15px
            min-height: 54px
            color: rgba(90, 89, 112, 1)
        input[type="button"] 
            background: rgba(63, 128, 236, 1)
            color: white 
            font-weight: bold
            font-size: 15px
            padding: 16px 39px
            border: none 
            border-radius: 5px
            cursor: pointer
        p 
            color: rgba(138, 142, 171, 1)
            opacity: 0.7 
            font-size: 14px
footer 
    min-height: 160px
    background-color: rgba(43, 47, 78, 1)
    display: flex
    align-items: center
    .container 
        display: flex
        align-items: center
        nav 
            align-items: center
            li 
                a 
                    font-size: 15px
                    justify-content: space-between
                a:hover 
                    color: white

#about 
    min-height: 2810px
    .tab1 
        background: url("../img/bgAbout.png") no-repeat
        background-position-y: -50px
    nav 
        li 
            position: relative
            a
                color: rgba(29, 32, 61, 1)          
        .active:before 
            content: ''
            position: absolute
            width: 100%
            height: 4px
            background-color: rgba(245, 79, 63, 1)
            top: -32px
            left: 0
            transition: .2s linear
        .active
            font-weight: bold
        .nav-tabs 
            border: none
            a 
                border: none
        .btnSign 
            width: 135px
            height: 54px
            border: 1px solid rgba(63, 128, 236, 1)
            background: transparent
            color: rgba(63, 128, 236, 1)
            font-weight: bold
    #first 
        .container 
            position: relative
        .imgScreen1 
            position: absolute
            right: -50px
        .offer 
            color: rgba(90, 89, 112, 1)
            margin-top: 130px
            p 
                font-size: 16px
                font-family: 'Roboto', sans-serif
                font-weight: 400
                max-width: 390px
            h1
                color: rgba(29, 32, 61, 1)
                font-size: 40px
                max-width: 315px
                font-weight: bold
                margin-top: 20px
                margin-bottom: 50px
                line-height: 170%
            .offerDesc 
                opacity: 0.7
        #screen1 
            min-height: 700px
        #screen2 
            min-height: 650px
            .groupInfoCards 
                margin-top: 80px
                .infoCard 
                    max-width: 213px
                    h5 
                        font-size: 22px 
                        color: rgba(29, 32, 61, 1)
                        font-weight: bold
                    p 
                        font-size: 16px 
                        color: rgba(90, 89, 112, 1)
                    img 
                        box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
        #screen3 
            min-height: 670px     
        #screen4 
            min-height: 450px
        .tab2 
            background: url("../img/bgAboutTab2.png") no-repeat
            background-position-y: 50px
        #screen5
            min-height: 1000px
            h1 
                margin-top: 100px

/** Modals **/ 

.modal
    border: none
    .modal-dialog
        max-width: 750px
        .modal-content
            box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08)
            border-radius: 16px 
            padding: 80px 125px 
            .modal-body 
                form
                    input 
                        height: 54px
                        background: #F2F5FF
                        border-radius: 5px
                        border: none
                        margin-top: 15px
                        padding: 13px 26px
                        color: rgba(90, 89, 112, 1)
                    input.login
                        background-image: url("../img/user.png")
                        background-repeat: no-repeat
                        background-position: 96%
                    input.pass
                        background-image: url("../img/noView.png")
                        background-repeat: no-repeat
                        background-position: 96%  
                    a.forget 
                        font-size: 15px 
                        color: rgba(63, 128, 236, 1)
                        display: flex
                        justify-content: flex-end
                        margin: 12px 0 30px 0
                        font-weight: bold
                    .btnSignIn 
                        background-color: rgba(63, 128, 236, 1)
                        color: white 
                        border-radius: 5px
                        font-weight: bold
                        padding: 18px 100px
                        display: flex
                        justify-content: center
            .modal-body, .modal-header, .modal-footer
                border: none
            .modal-title  
                justify-content: center
                font-size: 30px 
                font-weight: bold
                display: flex
        .close 
            top: -22px
            padding: 10px 15px
            background-color: rgba(63, 128, 236, 1)
            color: white 
            font-weight: normal
            border-radius: 50%
            right: -22px
            position: absolute
            opacity: 1
        .close:focus 
            outline: none
        .modal-footer 
            .soc 
                padding-bottom: 25px
                border-bottom: 1px solid rgba(138, 142, 171, .3)
            p 
                font-size: 15px 
                color: #5A5970
                a 
                    color:  rgba(63, 128, 236, 1)
                    text-decoration: underline
                    margin-left: 3px
                    font-weight: bold
                    cursor: pointer
