@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body a {
  color: white;
  font-size: 16px;
}

body a:hover {
  color: white;
}

body .btn.focus, body .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

* {
  outline: none;
}

.tdn {
  text-decoration: none !important;
}

.bbn {
  border: none !important;
  padding: 0 !important;
}

.h1 {
  font-size: 36px;
  font-weight: bold;
  color: #1d203d;
}

.card {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border: none;
  z-index: 1;
}

.card:hover {
  color: #3f80ec;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.hovers:hover::after {
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  width: 88%;
}

.hovers::after {
  content: '';
  position: absolute;
  top: 15px;
  -webkit-transform: translate(2.5%);
          transform: translate(2.5%);
  width: 0%;
  height: -webkit-fill-available;
  background: #3f80ec;
  border-radius: 0 0 8px 8px;
}

.groupInfo .arrow {
  position: absolute;
  z-index: -1;
  right: -52px;
  top: 18px;
}

.groupInfo .cardinfo {
  min-height: 360px;
  position: relative;
}

.groupInfo .cardinfo .overwrap {
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.groupInfo .cardinfo .overwrap img {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.groupInfo .cardinfo h5 {
  color: #1D203D;
  font-size: 20px;
  font-weight: bold;
  margin-top: 45px;
}

.groupInfo .cardinfo p {
  font-size: 14px;
  margin-top: 10px;
  color: #5A5970;
}

#firstScreens {
  background: url("../img/bgMainPageScreen1-2.png");
  min-height: 1850px;
}

#firstScreens #first {
  min-height: 831px;
}

#firstScreens #first .btnSign {
  width: 135px;
  height: 54px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-weight: bold;
}

#firstScreens #first .container {
  position: relative;
}

#firstScreens #first .imgScreen1 {
  position: absolute;
  right: -118px;
}

#firstScreens #first .offer {
  color: white;
  margin-top: 130px;
}

#firstScreens #first .offer p {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#firstScreens #first .offer h1 {
  color: white;
  font-size: 40px;
  max-width: 490px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
  line-height: 150%;
}

#firstScreens #first .offer .offerDesc {
  opacity: 0.7;
}

#firstScreens #first .offer .btnGet {
  width: 168px;
  height: 54px;
  background-color: #fff;
  color: #3f80ec;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 30px;
}

#firstScreens #second {
  margin-top: 108px;
}

#firstScreens #second .useful h1 {
  max-width: 490px;
}

#firstScreens #second .useful p.desc {
  font-size: 15px;
  color: #5a5970;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 70px;
}

#firstScreens #second .useful .btn {
  padding: 13px 20px;
  color: #5a5970;
  font-weight: 500;
  border: 1.5px solid rgba(63, 128, 236, 0.5);
  border-radius: 5px;
}

#firstScreens #second .useful .btn[aria-selected="true"] {
  background-color: #3F80EC;
  color: white !important;
}

#firstScreens #second .useful .nav-tabs {
  border: none;
}

#firstScreens #second .useful .tab-content .card-group {
  margin-top: 60px;
}

#firstScreens #second .useful .tab-content .card-group .card {
  z-index: 1;
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 8px;
  border: none;
  height: 191px;
}

#firstScreens #second .useful .tab-content .card-group .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#firstScreens #second .useful .tab-content .card-group .card .card-body p {
  font-weight: bold;
  font-size: 22px;
}

#firstScreens #second .useful .tab-content .card-group .card .card-img-top {
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#srceens3-4 {
  background: url("../img/bgMainPageScreen3-4.png");
  min-height: 2070px;
}

#srceens3-4 #thirty {
  min-height: 1250px;
}

#srceens3-4 #thirty h1 {
  margin-top: 140px;
  margin-bottom: 70px;
}

#srceens3-4 #thirty .groupCard .card {
  min-height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  z-index: 1;
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 6px;
}

#srceens3-4 #thirty .groupCard .hovers:hover::after {
  width: 80%;
}

#srceens3-4 #fourty {
  margin-top: 100px;
}

#srceens3-4 #fourty .leftBlock p {
  font-size: 14px;
  color: #5a5970;
}

#srceens3-4 #fourty .rightBlock .cardOther {
  border: none;
  background-color: transparent;
}

#srceens3-4 #fourty .rightBlock .cardOther h5 {
  color: #1d203d;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
}

#srceens3-4 #fourty .rightBlock .cardOther img {
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 14px;
}

#srceens3-4 #fourty .rightBlock .cardOther p {
  font-size: 14px;
  color: #5a5970;
}

#screens5-7 {
  background: url("../img/bgMainPageScreen5-6-7.png");
  min-height: 2630px;
}

#screens5-7 #fifth {
  min-height: 1051px;
  margin-top: 120px;
}

#screens5-7 #fifth .cardGroup .hovers::after {
  -webkit-transform: translate(4%);
          transform: translate(4%);
}

#screens5-7 #fifth .cardGroup .card {
  border: none;
  background: #FFFFFF;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 8px;
  padding: 50px;
  z-index: 1;
}

#screens5-7 #fifth .cardGroup .card p {
  font-size: 17px;
  color: #5a5970;
}

#screens5-7 #fifth .cardGroup .card .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
}

#screens5-7 #fifth .cardGroup .card .top h5 {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

#screens5-7 #fifth .cardGroup .card .top .circle p {
  color: #3f80ec;
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

#screens5-7 #fifth .cardGroup .card:hover .circle {
  background: #407de2;
}

#screens5-7 #fifth .cardGroup .card:hover .circle p {
  color: white;
}

#screens5-7 #fifth .bntSeeMore {
  padding: 18px 50px;
  background-color: #3f80ec;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 70px;
}

#screens5-7 #sixth {
  min-height: 861px;
  margin-top: 180px;
}

#screens5-7 #sixth .btnMorePosts {
  padding: 18px 50px;
  border-radius: 5px;
  background: #3f80ec;
  color: white;
  margin-top: 70px;
  font-weight: bold;
}

#screens5-7 #sixth .cardGroup .card {
  border: none;
  min-height: 362px;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 8px;
  z-index: 1;
}

#screens5-7 #sixth .cardGroup .card .padding {
  padding: 20px 25px;
}

#screens5-7 #sixth .cardGroup .card .padding h5 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

#screens5-7 #sixth .cardGroup .card .padding p {
  font-size: 14px;
  color: #5a5970;
  margin-top: 7px;
}

#screens5-7 #sixth .cardGroup .card .padding .card-footer {
  margin-top: 30px;
  background: transparent;
  border: none;
  padding: 0;
}

#screens5-7 #sixth .cardGroup .card .padding .card-footer img {
  margin-right: 3px;
}

#screens5-7 #sixth .cardGroup .hovers::after {
  top: 20px;
}

.circle {
  width: 60px;
  height: 60px;
  background: rgba(63, 128, 236, 0.05);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
}

#email {
  min-height: 450px;
  margin-top: 150px;
}

#email .leftBlock form input[type="text"] {
  background: #F2F5FF;
  border-radius: 5px;
  padding: 13.5px 26px;
  border: none;
  min-width: 347px;
  margin-right: 15px;
  min-height: 54px;
  color: #5a5970;
}

#email .leftBlock form input[type="button"] {
  background: #3f80ec;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 16px 39px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#email .leftBlock form p {
  color: #8a8eab;
  opacity: 0.7;
  font-size: 14px;
}

footer {
  min-height: 160px;
  background-color: #2b2f4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container nav li a {
  font-size: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container nav li a:hover {
  color: white;
}

#about {
  min-height: 2910px;
  background: url("../img/bgAbout.png") no-repeat;
  background-position-y: 150px;
}

#about nav li {
  position: relative;
}

#about nav li a {
  color: #1d203d;
}

#about nav .active:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #f54f3f;
  top: -30px;
  left: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

#about nav .active {
  font-weight: bold;
}

#about nav .nav-tabs {
  border: none;
}

#about nav .nav-tabs a {
  border: none;
}

#about nav .btnSign {
  width: 135px;
  height: 54px;
  border: 1px solid #3f80ec;
  background: transparent;
  color: #3f80ec;
  font-weight: bold;
}

#about #first .container {
  position: relative;
}

#about #first .imgScreen1 {
  position: absolute;
  right: -50px;
}

#about #first .offer {
  color: #5a5970;
  margin-top: 130px;
}

#about #first .offer p {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  max-width: 390px;
}

#about #first .offer h1 {
  color: #1d203d;
  font-size: 40px;
  max-width: 315px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
  line-height: 170%;
}

#about #first .offer .offerDesc {
  opacity: 0.7;
}

#about #first #screen1 {
  min-height: 700px;
}

#about #first #screen2 {
  min-height: 650px;
}

#about #first #screen2 .groupInfoCards {
  margin-top: 80px;
}

#about #first #screen2 .groupInfoCards .infoCard {
  max-width: 213px;
}

#about #first #screen2 .groupInfoCards .infoCard h5 {
  font-size: 22px;
  color: #1d203d;
  font-weight: bold;
}

#about #first #screen2 .groupInfoCards .infoCard p {
  font-size: 16px;
  color: #5a5970;
}

#about #first #screen2 .groupInfoCards .infoCard img {
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
}

#about #first #screen3 {
  min-height: 670px;
}

#about #first #screen4 {
  min-height: 450px;
}

#assistant {
  min-height: 2910px;
  background: url("../img/bgAboutTab2.png") no-repeat;
  background-position-y: 150px;
}

#assistant nav li {
  position: relative;
}

#assistant nav li a {
  color: #1d203d;
}

#assistant nav .active:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #f54f3f;
  top: -30px;
  left: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

#assistant nav .active {
  font-weight: bold;
}

#assistant nav .nav-tabs {
  border: none;
}

#assistant nav .nav-tabs a {
  border: none;
}

#assistant nav .btnSign {
  width: 135px;
  height: 54px;
  border: 1px solid #3f80ec;
  background: transparent;
  color: #3f80ec;
  font-weight: bold;
}

#assistant #screen1 {
  min-height: 1000px;
}

#assistant #screen1 .block1 h1 {
  margin-top: 100px;
}

#assistant #screen1 .block1 .search {
  min-height: 54px;
  padding: 13px 54px;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: 17px;
  border: none;
  background-color: #F2F5FF;
  border-radius: 5px;
}

#assistant #screen1 .block1 p {
  color: rgba(138, 142, 171, 0.5);
  font-size: 15px;
  margin-top: 15px;
}

#assistant #screen1 .block2 {
  margin-top: 172px;
}

#assistant #screen1 .block2 .btn {
  padding: 13px 20px;
  color: #5a5970;
  font-weight: 500;
  border: 1.5px solid rgba(63, 128, 236, 0.5);
  border-radius: 5px;
}

#assistant #screen1 .block2 .btn[aria-selected="true"] {
  background-color: #3F80EC;
  color: white !important;
}

#assistant #screen1 .block2 .nav-tabs {
  border: none;
}

#assistant #screen1 .block2 .tab-content .card-group {
  margin-top: 60px;
}

#assistant #screen1 .block2 .tab-content .card-group .card {
  z-index: 1;
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 8px;
  border: none;
  height: 191px;
}

#assistant #screen1 .block2 .tab-content .card-group .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#assistant #screen1 .block2 .tab-content .card-group .card .card-body p {
  font-weight: bold;
  font-size: 22px;
}

#assistant #screen1 .block2 .tab-content .card-group .card .card-img-top {
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#assistant #screen2 {
  min-height: 670px;
  margin-top: 250px;
}

#assistant #screen2 .overwrap {
  position: relative;
}

#assistant #screen2 .overwrap .circle {
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  background-color: #fff;
  position: absolute;
  left: -25px;
  bottom: -25px;
}

#assistant #screen2 .overwrap .circle p {
  color: #3f80ec;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.searchpage {
  height: 4200px !important;
  background: url("../img/assistantfamily.png") no-repeat !important;
  background-position-y: 150px !important;
}

.searchpage #search {
  height: 2400px;
}

.searchpage #search p.page {
  margin-top: 80px;
  font-size: 14px;
  margin-bottom: 60px;
  color: #8a8eab;
}

.searchpage #search .leftBlock {
  padding-right: 35px;
}

.searchpage #search .leftBlock .groupCard .card {
  padding: 20px 25px;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 8px;
  max-height: 172px;
  border: none;
}

.searchpage #search .leftBlock .groupCard .card .card-header {
  font-size: 20px;
  font-weight: bold;
  color: #1d203d;
  background-color: transparent;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(138, 142, 171, 0.2);
}

.searchpage #search .leftBlock .groupCard .card ul {
  max-height: 90px;
}

.searchpage #search .leftBlock .groupCard .card ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchpage #search .leftBlock .groupCard .card ul li a {
  color: #5a5970;
  margin: 3px 0 3px;
}

.searchpage #search .leftBlock .groupCard .card ul li.active {
  display: list-item;
  color: #3f80ec;
  margin-left: 21px;
  font-weight: bold;
}

.searchpage #search .leftBlock .groupCard .card ul li.active a {
  color: #3f80ec;
}

.searchpage #search .leftBlock .groupCard .card:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.searchpage #search .leftBlock .groupCard .article p {
  color: #5a5970;
  font-weight: bold;
  font-size: 16px;
}

.searchpage #search .leftBlock .AdBlock {
  height: 460px;
  background-color: #edf3ff;
  margin-top: 100px;
}

.searchpage #search .leftBlock .AdBlock p {
  font-weight: bold;
  font-size: 22px;
}

.searchpage #search .rightBlock p {
  color: #5a5970;
  font-size: 16px;
}

.searchpage #search .rightBlock h5 {
  font-size: 22px;
  font-weight: bold;
  color: #1d203d;
}

.searchpage #search .rightBlock ul {
  padding: 0;
}

.searchpage #search .rightBlock ul li {
  display: block;
  color: #5a5970;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
  margin-bottom: 8px;
}

.searchpage #search .rightBlock ul li i {
  color: #3f80ec;
  padding-right: 10px;
}

.searchpage #search .rightBlock .news {
  margin-top: 100px;
}

.searchpage #search .rightBlock .groupCard .hovers:hover::after {
  width: 95% !important;
}

.searchpage #search .rightBlock .groupCard .hovers::after {
  top: 10px !important;
}

.searchpage #search .rightBlock .groupCard .card {
  text-decoration: none;
  border: none;
  z-index: 1;
  max-height: 110px;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 8px;
}

.searchpage #search .rightBlock .groupCard .card .card-img-left {
  -o-object-fit: contain;
     object-fit: contain;
  height: 110px;
}

.searchpage #search .rightBlock .groupCard .card .date {
  font-size: 14px;
  color: #8a8eab;
}

.searchpage #search .rightBlock .groupCard .card h6 {
  font-size: 16px;
  font-weight: bold;
  color: #1d203d;
}

.searchpage #search .rightBlock .groupCard .card:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  color: none;
}

.searchpage #popularNews {
  margin-top: 120px;
  min-height: 927px;
}

.searchpage #popularNews .right-70 {
  margin-right: 70px;
}

.searchpage #popularNews p.active {
  color: #1d203d;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}

.searchpage #popularNews p.new {
  color: #8a8eab;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
  cursor: pointer;
}

.searchpage #popularNews .groupCard .card {
  margin-top: 30px;
  text-decoration: none;
  border: none;
  max-height: 130px;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 8px;
}

.searchpage #popularNews .groupCard .card .card-img-left {
  -o-object-fit: contain;
     object-fit: contain;
  height: 130px;
}

.searchpage #popularNews .groupCard .card .card-body .category {
  color: #8a8eab;
}

.searchpage #popularNews .groupCard .card .card-body h6 {
  color: #1d203d;
  font-size: 20px;
  font-weight: bold;
}

.searchpage #popularNews .groupCard .card:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.top-60 {
  margin-top: 60px;
}

.h5 {
  font-size: 20px;
  font-weight: bold;
  color: #1d203d;
  margin-top: 80px;
}

.menu img {
  -o-object-fit: contain;
     object-fit: contain;
}

.menu p {
  font-size: 16px;
  font-weight: bold;
  color: #1d203d;
  margin-left: 15px;
}

.color-grey {
  color: #5a5970;
  font-size: 16px;
}

#lk header {
  -webkit-box-shadow: 0px 4px 50px rgba(70, 70, 70, 0.05);
          box-shadow: 0px 4px 50px rgba(70, 70, 70, 0.05);
  height: 94px;
}

#lk header nav .rightBlock a {
  color: #1d203d;
  font-size: 16px;
}

#lk header nav .rightBlock a[aria-expanded="false"] i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#lk header nav .rightBlock a:hover {
  text-decoration: none;
}

#lk header nav .rightBlock .dropdown-toggle::after {
  display: none;
}

#lk header nav .rightBlock .profile {
  margin-left: 60px;
}

#lk header nav .rightBlock .dropdown-menu {
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 6px;
  border: none;
  top: 122%;
  left: -18px;
}

#lk header nav .rightBlock .dropdown-menu a {
  font-size: 15px;
  color: #1d203d;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

#lk header nav .rightBlock .dropdown-menu a:hover {
  color: #3f80ec;
  background-color: transparent;
}

#lk #screen1 h4.path {
  margin-top: 100px;
  font-size: 22px;
  font-weight: bold;
  color: #1d203d;
}

#lk #screen1 .bigCard {
  margin-top: 50px;
  padding: 70px 0;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 12px;
}

#lk #screen1 .bigCard .card-header {
  background-color: transparent;
  border: none;
}

#lk #screen1 .bigCard .card-header h3 {
  font-size: 36px;
  font-weight: bold;
  color: #1d203d;
}

#lk #screen1 .bigCard .card-body a {
  padding: 21px 50px;
  background-color: #3f80ec;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

#lk #screen1 .bigCard .card-body p {
  color: #8a8eab;
  margin-top: 20px;
}

#lk #screen2 h3 {
  margin-top: 140px;
  font-size: 36px;
  font-weight: bold;
  color: #1d203d;
}

/** Modals **/
.modal {
  border: none;
}

.modal .modal-dialog {
  max-width: 750px;
}

.modal .modal-dialog .modal-header .description {
  max-width: 380px;
  margin: 0;
}

.modal .modal-dialog .modal-content {
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 16px;
  padding: 80px 125px;
}

.modal .modal-dialog .modal-content .modal-body .loc h5 {
  font-size: 20px;
  font-weight: bold;
  color: #1d203d;
}

.modal .modal-dialog .modal-content .modal-body .loc p span {
  color: #5a5970;
}

.modal .modal-dialog .modal-content .modal-body form {
  position: relative;
}

.modal .modal-dialog .modal-content .modal-body form input {
  height: 54px;
  background: #F2F5FF;
  border-radius: 5px;
  border: none;
  padding: 13px 26px;
  color: #5a5970;
}

.modal .modal-dialog .modal-content .modal-body form input.login {
  background-image: url("../img/user.png");
  background-repeat: no-repeat;
  background-position: 96%;
}

.modal .modal-dialog .modal-content .modal-body form input.pass {
  background-image: url("../img/noView.png");
  background-repeat: no-repeat;
  background-position: 96%;
}

.modal .modal-dialog .modal-content .modal-body form .list-group {
  display: none;
}

.modal .modal-dialog .modal-content .modal-body form ul#myList {
  max-height: 230px;
  overflow: hidden;
  background-color: white;
}

.modal .modal-dialog .modal-content .modal-body form ul#myList li {
  border: none;
}

.modal .modal-dialog .modal-content .modal-body form .inputs {
  border-radius: 5px;
}

.modal .modal-dialog .modal-content .modal-body form .inputs .mCSB_scrollTools .mCSB_draggerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-dialog .modal-content .modal-body form .inputs .mCSB_scrollTools .mCSB_draggerRail {
  background-color: rgba(138, 142, 171, 0.3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  width: 1px;
}

.modal .modal-dialog .modal-content .modal-body form .inputs .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 3px;
  background-color: #3f80ec;
  height: 15px;
}

.modal .modal-dialog .modal-content .modal-body form .plusClass {
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border: 1px solid #3F80EC;
  position: absolute;
  width: 100%;
}

.modal .modal-dialog .modal-content .modal-body form .plusClass ::-webkit-scrollbar {
  width: 3px;
}

.modal .modal-dialog .modal-content .modal-body form .plusClass ::-webkit-scrollbar-track {
  border-radius: 10px;
}

.modal .modal-dialog .modal-content .modal-body form .plusClass ::-webkit-scrollbar-thumb {
  background: #3f80ec;
  border-radius: 10px;
}

.modal .modal-dialog .modal-content .modal-body form a.forget {
  font-size: 15px;
  color: #3f80ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 12px 0 30px 0;
  font-weight: bold;
}

.modal .modal-dialog .modal-content .modal-body form .btnSignIn {
  background-color: #3f80ec;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 18px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-dialog .modal-content .modal-body, .modal .modal-dialog .modal-content .modal-header, .modal .modal-dialog .modal-content .modal-footer {
  border: none;
}

.modal .modal-dialog .modal-content .modal-body .manyally, .modal .modal-dialog .modal-content .modal-header .manyally, .modal .modal-dialog .modal-content .modal-footer .manyally {
  color: #3f80ec;
  font-weight: bold;
}

.modal .modal-dialog .modal-content .modal-body .manyally:hover, .modal .modal-dialog .modal-content .modal-header .manyally:hover, .modal .modal-dialog .modal-content .modal-footer .manyally:hover {
  text-decoration: none;
}

.modal .modal-dialog .modal-content .modal-title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .modal-dialog .close {
  top: -22px;
  padding: 10px 15px;
  background-color: #3f80ec;
  color: white;
  font-weight: normal;
  border-radius: 50%;
  right: -22px;
  position: absolute;
  opacity: 1;
}

.modal .modal-dialog .close:focus {
  outline: none;
}

.modal .modal-dialog .modal-footer .soc {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(138, 142, 171, 0.3);
}

.modal .modal-dialog .modal-footer p {
  font-size: 15px;
  color: #5A5970;
}

.modal .modal-dialog .modal-footer p a {
  color: #3f80ec;
  text-decoration: underline;
  margin-left: 3px;
  font-weight: bold;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */