@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body a {
  color: white;
  font-size: 16px;
}

body a:hover {
  color: white;
  text-decoration: none;
}

body .btn.focus, body .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

* {
  outline: none;
}

.tdn {
  text-decoration: none !important;
}

.bbn {
  border: none !important;
  padding: 0 !important;
}

.h1 {
  font-size: 36px;
  font-weight: bold;
  color: #1d203d;
}

.card {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border: none;
  z-index: 1;
}

.card:hover {
  color: #3f80ec;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.hovers:hover::after {
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  width: 88%;
}

.hovers::after {
  content: '';
  position: absolute;
  top: 15px;
  -webkit-transform: translate(2.5%);
          transform: translate(2.5%);
  width: 0%;
  height: -webkit-fill-available;
  background: #3f80ec;
  border-radius: 0 0 8px 8px;
}

.groupInfo .arrow {
  position: absolute;
  z-index: -1;
  right: -52px;
  top: 18px;
}

.groupInfo .cardinfo {
  min-height: 360px;
  position: relative;
}

.groupInfo .cardinfo .overwrap {
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.groupInfo .cardinfo .overwrap img {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.groupInfo .cardinfo h5 {
  color: #1D203D;
  font-size: 20px;
  font-weight: bold;
  margin-top: 45px;
}

.groupInfo .cardinfo p {
  font-size: 14px;
  margin-top: 10px;
  color: #5A5970;
}

#firstScreens {
  background: url("../img/bgMainPageScreen1-2.png");
  height: 1847px;
}

#firstScreens #first {
  background: url("../img/imgMainPageScreen1.png") 80% 200px no-repeat;
}

#firstScreens #first .btnSign {
  width: 135px;
  height: 54px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-weight: bold;
}

#firstScreens #first .container {
  position: relative;
}

#firstScreens #first .container .row {
  margin-top: 130px;
}

#firstScreens #first .offer {
  color: white;
}

#firstScreens #first .offer p {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#firstScreens #first .offer h1 {
  color: white;
  font-size: 40px;
  max-width: 490px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
  line-height: 150%;
}

#firstScreens #first .offer .offerDesc {
  opacity: 0.7;
}

#firstScreens #first .offer .btnGet {
  width: 168px;
  height: 54px;
  background-color: #fff;
  color: #3f80ec;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 30px;
}

#firstScreens #second {
  margin-top: 250px;
}

#firstScreens #second .useful h1 {
  max-width: 490px;
}

#firstScreens #second .useful p.desc {
  font-size: 15px;
  color: #5a5970;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 70px;
}

#firstScreens #second .useful .btn {
  padding: 13px 20px;
  color: #5a5970;
  font-weight: 500;
  border: 1.5px solid rgba(63, 128, 236, 0.5);
  border-radius: 5px;
}

#firstScreens #second .useful .btn[aria-selected="true"] {
  background-color: #3F80EC;
  color: white !important;
}

#firstScreens #second .useful .nav-tabs {
  border: none;
}

#firstScreens #second .useful .tab-content .card-group {
  margin-top: 60px;
}

#firstScreens #second .useful .tab-content .card-group .card {
  z-index: 1;
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 8px;
  border: none;
  height: 191px;
}

#firstScreens #second .useful .tab-content .card-group .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#firstScreens #second .useful .tab-content .card-group .card .card-body p {
  font-weight: bold;
  font-size: 22px;
}

#firstScreens #second .useful .tab-content .card-group .card .card-img-top {
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#srceens3-4 {
  background: url("../img/bgMainPageScreen3-4.png");
  height: 2038px;
}

#srceens3-4 #thirty {
  margin-top: 125px;
  padding-bottom: 250px;
}

#srceens3-4 #thirty .alreadyWorking {
  margin-top: 220px;
}

#srceens3-4 #thirty h1 {
  margin-bottom: 70px;
}

#srceens3-4 #thirty .groupCard .card {
  min-height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  z-index: 1;
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 6px;
}

#srceens3-4 #thirty .groupCard .hovers:hover::after {
  width: 80%;
}

#srceens3-4 #fourty {
  height: 688px;
  margin-top: 100px;
}

#srceens3-4 #fourty .leftBlock p {
  font-size: 14px;
  color: #5a5970;
}

#srceens3-4 #fourty .rightBlock .cardOther {
  border: none;
  background-color: transparent;
}

#srceens3-4 #fourty .rightBlock .cardOther h5 {
  color: #1d203d;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
}

#srceens3-4 #fourty .rightBlock .cardOther img {
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 14px;
}

#srceens3-4 #fourty .rightBlock .cardOther p {
  font-size: 14px;
  color: #5a5970;
}

#screens5-7 {
  background: url("../img/bgMainPageScreen5-6-7.png");
  height: 2630px;
}

#screens5-7 #fifth {
  height: 1051px;
  margin-top: 120px;
}

#screens5-7 #fifth .cardGroup .hovers::after {
  -webkit-transform: translate(4%);
          transform: translate(4%);
}

#screens5-7 #fifth .cardGroup .card {
  border: none;
  background: #FFFFFF;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 8px;
  padding: 50px;
  z-index: 1;
}

#screens5-7 #fifth .cardGroup .card p {
  font-size: 17px;
  color: #5a5970;
}

#screens5-7 #fifth .cardGroup .card .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
}

#screens5-7 #fifth .cardGroup .card .top h5 {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

#screens5-7 #fifth .cardGroup .card .top .circle p {
  color: #3f80ec;
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  padding: 10px 24px;
}

#screens5-7 #fifth .cardGroup .card:hover .circle {
  background: #407de2;
}

#screens5-7 #fifth .cardGroup .card:hover .circle p {
  color: white;
}

#screens5-7 #fifth .bntSeeMore {
  padding: 18px 50px;
  background-color: #3f80ec;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 70px;
}

#screens5-7 #sixth {
  height: 861px;
  margin-top: 180px;
}

#screens5-7 #sixth .btnMorePosts {
  padding: 18px 50px;
  border-radius: 5px;
  background: #3f80ec;
  color: white;
  margin-top: 70px;
  font-weight: bold;
}

#screens5-7 #sixth .cardGroup .card {
  border: none;
  min-height: 362px;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 8px;
  z-index: 1;
}

#screens5-7 #sixth .cardGroup .card .padding {
  padding: 20px 25px;
}

#screens5-7 #sixth .cardGroup .card .padding h5 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

#screens5-7 #sixth .cardGroup .card .padding p {
  font-size: 14px;
  color: #5a5970;
  margin-top: 7px;
}

#screens5-7 #sixth .cardGroup .card .padding .card-footer {
  margin-top: 30px;
  background: transparent;
  border: none;
  padding: 0;
}

#screens5-7 #sixth .cardGroup .card .padding .card-footer img {
  margin-right: 3px;
}

#screens5-7 #sixth .cardGroup .hovers::after {
  top: 20px;
}

.circle {
  background: rgba(63, 128, 236, 0.05);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
}

#email {
  margin-top: 200px;
}

#email .leftBlock form input[type="text"] {
  background: #F2F5FF;
  border-radius: 5px;
  padding: 13.5px 26px;
  border: none;
  min-width: 347px;
  margin-right: 15px;
  min-height: 54px;
  color: #5a5970;
}

#email .leftBlock form input[type="button"] {
  background: #3f80ec;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 16px 39px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#email .leftBlock form p {
  color: #8a8eab;
  opacity: 0.7;
  font-size: 14px;
}

footer {
  height: 160px;
  margin-top: 200px;
  background-color: #2b2f4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container nav li a {
  font-size: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container nav li a:hover {
  color: white;
}

#about {
  background: url("../img/bgAbout.png") no-repeat;
  background-position-y: 150px;
}

#about nav li {
  position: relative;
}

#about nav li a {
  color: #1d203d;
}

#about nav .active:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #f54f3f;
  top: -30px;
  left: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

#about nav .active {
  font-weight: bold;
}

#about nav .nav-tabs {
  border: none;
}

#about nav .nav-tabs a {
  border: none;
}

#about nav .btnSign {
  width: 135px;
  height: 54px;
  border: 1px solid #3f80ec;
  background: transparent;
  color: #3f80ec;
  font-weight: bold;
}

#about #first .container {
  position: relative;
}

#about #first .imgScreen1 {
  position: absolute;
  right: -50px;
}

#about #first .offer {
  color: #5a5970;
  margin-top: 130px;
}

#about #first .offer p {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  max-width: 390px;
}

#about #first .offer h1 {
  color: #1d203d;
  font-size: 40px;
  max-width: 315px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
  line-height: 170%;
}

#about #first .offer .offerDesc {
  opacity: 0.7;
}

#about #first #screen2 {
  margin-top: 400px;
}

#about #first #screen2 .groupInfoCards {
  margin-top: 80px;
}

#about #first #screen2 .groupInfoCards .infoCard {
  max-width: 213px;
}

#about #first #screen2 .groupInfoCards .infoCard h5 {
  font-size: 22px;
  color: #1d203d;
  font-weight: bold;
}

#about #first #screen2 .groupInfoCards .infoCard p {
  font-size: 16px;
  color: #5a5970;
}

#about #first #screen2 .groupInfoCards .infoCard img {
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
}

#about #first #screen3 {
  margin-top: 270px;
}

#about #first #screen4 {
  min-height: 450px;
}

#assistant {
  background: url("../img/bgAboutTab2.png") no-repeat;
  background-position-y: 150px;
}

#assistant nav li {
  position: relative;
}

#assistant nav li a {
  color: #1d203d;
}

#assistant nav .active:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #f54f3f;
  top: -30px;
  left: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

#assistant nav .active {
  font-weight: bold;
}

#assistant nav .nav-tabs {
  border: none;
}

#assistant nav .nav-tabs a {
  border: none;
}

#assistant nav .btnSign {
  width: 135px;
  height: 54px;
  border: 1px solid #3f80ec;
  background: transparent;
  color: #3f80ec;
  font-weight: bold;
}

#assistant #screen1 {
  min-height: 1000px;
}

#assistant #screen1 .block1 h1 {
  margin-top: 100px;
}

#assistant #screen1 .block1 .search {
  min-height: 54px;
  padding: 13px 54px;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: 17px;
  border: none;
  background-color: #F2F5FF;
  border-radius: 5px;
}

#assistant #screen1 .block1 p {
  color: rgba(138, 142, 171, 0.5);
  font-size: 15px;
  margin-top: 15px;
}

#assistant #screen1 .block2 {
  margin-top: 172px;
}

#assistant #screen1 .block2 .btn {
  padding: 13px 20px;
  color: #5a5970;
  font-weight: 500;
  border: 1.5px solid rgba(63, 128, 236, 0.5);
  border-radius: 5px;
}

#assistant #screen1 .block2 .btn[aria-selected="true"] {
  background-color: #3F80EC;
  color: white !important;
}

#assistant #screen1 .block2 .nav-tabs {
  border: none;
}

#assistant #screen1 .block2 .tab-content .card-group {
  margin-top: 60px;
}

#assistant #screen1 .block2 .tab-content .card-group .card {
  z-index: 1;
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 8px;
  border: none;
  height: 191px;
}

#assistant #screen1 .block2 .tab-content .card-group .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#assistant #screen1 .block2 .tab-content .card-group .card .card-body p {
  font-weight: bold;
  font-size: 22px;
}

#assistant #screen1 .block2 .tab-content .card-group .card .card-img-top {
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#assistant #screen2 {
  min-height: 670px;
  margin-top: 250px;
}

#assistant #screen2 .overwrap {
  position: relative;
}

#assistant #screen2 .overwrap .circle {
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  background-color: #fff;
  position: absolute;
  left: -25px;
  bottom: -25px;
}

#assistant #screen2 .overwrap .circle p {
  color: #3f80ec;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.searchpage {
  height: 4200px !important;
  background: url("../img/assistantfamily.png") no-repeat !important;
  background-position-y: 150px !important;
}

.searchpage #search {
  height: 2400px;
}

.searchpage #search p.page {
  margin-top: 80px;
  font-size: 14px;
  margin-bottom: 60px;
  color: #8a8eab;
}

.searchpage #search .leftBlock {
  padding-right: 35px;
}

.searchpage #search .leftBlock .groupCard .card {
  padding: 20px 25px;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 8px;
  max-height: 172px;
  border: none;
}

.searchpage #search .leftBlock .groupCard .card .card-header {
  font-size: 20px;
  font-weight: bold;
  color: #1d203d;
  background-color: transparent;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(138, 142, 171, 0.2);
}

.searchpage #search .leftBlock .groupCard .card ul {
  max-height: 90px;
}

.searchpage #search .leftBlock .groupCard .card ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchpage #search .leftBlock .groupCard .card ul li a {
  color: #5a5970;
  margin: 3px 0 3px;
}

.searchpage #search .leftBlock .groupCard .card ul li.active {
  display: list-item;
  color: #3f80ec;
  margin-left: 21px;
  font-weight: bold;
}

.searchpage #search .leftBlock .groupCard .card ul li.active a {
  color: #3f80ec;
}

.searchpage #search .leftBlock .groupCard .card:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.searchpage #search .leftBlock .groupCard .article p {
  color: #5a5970;
  font-weight: bold;
  font-size: 16px;
}

.searchpage #search .leftBlock .AdBlock {
  height: 460px;
  background-color: #edf3ff;
  margin-top: 100px;
}

.searchpage #search .leftBlock .AdBlock p {
  font-weight: bold;
  font-size: 22px;
}

.searchpage #search .rightBlock p {
  color: #5a5970;
  font-size: 16px;
}

.searchpage #search .rightBlock h5 {
  font-size: 22px;
  font-weight: bold;
  color: #1d203d;
}

.searchpage #search .rightBlock ul {
  padding: 0;
}

.searchpage #search .rightBlock ul li {
  display: block;
  color: #5a5970;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
  margin-bottom: 8px;
}

.searchpage #search .rightBlock ul li i {
  color: #3f80ec;
  padding-right: 10px;
}

.searchpage #search .rightBlock .news {
  margin-top: 100px;
}

.searchpage #search .rightBlock .groupCard .hovers:hover::after {
  width: 95% !important;
}

.searchpage #search .rightBlock .groupCard .hovers::after {
  top: 10px !important;
}

.searchpage #search .rightBlock .groupCard .card {
  text-decoration: none;
  border: none;
  z-index: 1;
  max-height: 110px;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 8px;
}

.searchpage #search .rightBlock .groupCard .card .card-img-left {
  -o-object-fit: contain;
     object-fit: contain;
  height: 110px;
}

.searchpage #search .rightBlock .groupCard .card .date {
  font-size: 14px;
  color: #8a8eab;
}

.searchpage #search .rightBlock .groupCard .card h6 {
  font-size: 16px;
  font-weight: bold;
  color: #1d203d;
}

.searchpage #search .rightBlock .groupCard .card:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  color: none;
}

#popularNews {
  margin-top: 120px;
}

#popularNews .right-70 {
  margin-right: 70px;
}

#popularNews p.active {
  color: #1d203d;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}

#popularNews p.new {
  color: #8a8eab;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
  cursor: pointer;
}

#popularNews .groupCard .card {
  margin-top: 30px;
  text-decoration: none;
  border: none;
  max-height: 130px;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 8px;
}

#popularNews .groupCard .card .card-img-left {
  -o-object-fit: contain;
     object-fit: contain;
  height: 130px;
}

#popularNews .groupCard .card .card-body .category {
  color: #8a8eab;
}

#popularNews .groupCard .card .card-body h6 {
  color: #1d203d;
  font-size: 20px;
  font-weight: bold;
}

#popularNews .groupCard .card:hover {
  -webkit-transform: none;
          transform: none;
}

.newsResult {
  background: url("../img/bgResult.png") 0 0 no-repeat;
  padding-top: 220px;
  padding-bottom: 200px;
}

.top-60 {
  margin-top: 60px;
}

.h5 {
  font-size: 20px;
  font-weight: bold;
  color: #1d203d;
  margin-top: 80px;
}

.menu img {
  -o-object-fit: contain;
     object-fit: contain;
}

.menu p {
  font-size: 16px;
  font-weight: bold;
  color: #1d203d;
  margin-left: 15px;
}

.color-grey {
  color: #5a5970;
  font-size: 16px;
}

header.lk {
  -webkit-box-shadow: 0px 4px 50px rgba(70, 70, 70, 0.05);
          box-shadow: 0px 4px 50px rgba(70, 70, 70, 0.05);
  height: 94px;
}

header.lk nav .menu .dropdown-toggle2 {
  color: #1d203d;
}

header.lk nav .menu .dropdown-toggle2:after {
  display: none;
}

header.lk nav .menu .dropdown2-menu {
  border: none;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 10px;
  width: 750px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  color: #212529;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
}

header.lk nav .menu .dropdown2-menu .addHover {
  background-color: #edf3ff;
  color: #3f80ec !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
}

header.lk nav .menu .dropdown2-menu .addHover i {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header.lk nav .menu .dropdown2-menu .leftBlock a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

header.lk nav .menu .dropdown2-menu .leftBlock, header.lk nav .menu .dropdown2-menu .middleBlock, header.lk nav .menu .dropdown2-menu .rightBlock {
  width: 33.33%;
}

header.lk nav .menu .dropdown2-menu .leftBlock a, header.lk nav .menu .dropdown2-menu .middleBlock a, header.lk nav .menu .dropdown2-menu .rightBlock a {
  color: #5a5970;
  padding: 11px 35px;
}

header.lk nav .menu .dropdown2-menu .leftBlock a i, header.lk nav .menu .dropdown2-menu .middleBlock a i, header.lk nav .menu .dropdown2-menu .rightBlock a i {
  display: none;
}

header.lk nav .menu .dropdown2-menu .middleBlock .soc, header.lk nav .menu .dropdown2-menu .middleBlock .nesoc {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header.lk nav .menu .dropdown2-menu .rightBlock .mill, header.lk nav .menu .dropdown2-menu .rightBlock .phis, header.lk nav .menu .dropdown2-menu .rightBlock .family, header.lk nav .menu .dropdown2-menu .rightBlock .inv, header.lk nav .menu .dropdown2-menu .rightBlock .other, header.lk nav .menu .dropdown2-menu .rightBlock .pens, header.lk nav .menu .dropdown2-menu .rightBlock .ip, header.lk nav .menu .dropdown2-menu .rightBlock .urface {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header.lk nav .menu .dropdown2-menu .rightBlock .mill .block, header.lk nav .menu .dropdown2-menu .rightBlock .phis .block, header.lk nav .menu .dropdown2-menu .rightBlock .family .block, header.lk nav .menu .dropdown2-menu .rightBlock .inv .block, header.lk nav .menu .dropdown2-menu .rightBlock .other .block, header.lk nav .menu .dropdown2-menu .rightBlock .pens .block, header.lk nav .menu .dropdown2-menu .rightBlock .ip .block, header.lk nav .menu .dropdown2-menu .rightBlock .urface .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.lk nav .menu .dropdown2-menu .rightBlock .mill .block a, header.lk nav .menu .dropdown2-menu .rightBlock .phis .block a, header.lk nav .menu .dropdown2-menu .rightBlock .family .block a, header.lk nav .menu .dropdown2-menu .rightBlock .inv .block a, header.lk nav .menu .dropdown2-menu .rightBlock .other .block a, header.lk nav .menu .dropdown2-menu .rightBlock .pens .block a, header.lk nav .menu .dropdown2-menu .rightBlock .ip .block a, header.lk nav .menu .dropdown2-menu .rightBlock .urface .block a {
  width: 100%;
}

header.lk nav .menu .dropdown2-menu .rightBlock .mill .block a p, header.lk nav .menu .dropdown2-menu .rightBlock .phis .block a p, header.lk nav .menu .dropdown2-menu .rightBlock .family .block a p, header.lk nav .menu .dropdown2-menu .rightBlock .inv .block a p, header.lk nav .menu .dropdown2-menu .rightBlock .other .block a p, header.lk nav .menu .dropdown2-menu .rightBlock .pens .block a p, header.lk nav .menu .dropdown2-menu .rightBlock .ip .block a p, header.lk nav .menu .dropdown2-menu .rightBlock .urface .block a p {
  color: #5a5970 !important;
  font-weight: normal !important;
  font-size: 13px;
  margin-left: 0;
  margin-bottom: 0;
}

header.lk nav .menu .dropdown2-menu .rightBlock .mill .block:hover a, header.lk nav .menu .dropdown2-menu .rightBlock .phis .block:hover a, header.lk nav .menu .dropdown2-menu .rightBlock .family .block:hover a, header.lk nav .menu .dropdown2-menu .rightBlock .inv .block:hover a, header.lk nav .menu .dropdown2-menu .rightBlock .other .block:hover a, header.lk nav .menu .dropdown2-menu .rightBlock .pens .block:hover a, header.lk nav .menu .dropdown2-menu .rightBlock .ip .block:hover a, header.lk nav .menu .dropdown2-menu .rightBlock .urface .block:hover a {
  font-weight: bold;
  background-color: #edf3ff;
  color: #3f80ec;
}

header.lk nav .menu .dropdown2-menu h5 {
  padding: 30px 35px 0 35px;
}

header.lk nav .rightBlock a {
  color: #1d203d;
  font-size: 16px;
}

header.lk nav .rightBlock a[aria-expanded="false"] i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header.lk nav .rightBlock a:hover {
  text-decoration: none;
}

header.lk nav .rightBlock .dropdown-toggle::after {
  display: none;
}

header.lk nav .rightBlock .profile {
  margin-left: 60px;
}

header.lk nav .rightBlock .dropdown-menu {
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 6px;
  border: none;
  top: 122%;
  left: -18px;
}

header.lk nav .rightBlock .dropdown-menu a {
  font-size: 15px;
  color: #1d203d;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

header.lk nav .rightBlock .dropdown-menu a:hover {
  color: #3f80ec;
  background-color: transparent;
}

#lk #screen1 h4.path {
  margin-top: 100px;
  font-size: 22px;
  font-weight: bold;
  color: #1d203d;
}

#lk #screen1 .bigCard {
  margin-top: 50px;
  padding: 70px 0;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 12px;
}

#lk #screen1 .bigCard .card-header {
  background-color: transparent;
  border: none;
}

#lk #screen1 .bigCard .card-header h3 {
  font-size: 36px;
  font-weight: bold;
  color: #1d203d;
}

#lk #screen1 .bigCard .card-body a {
  padding: 21px 50px;
  background-color: #3f80ec;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

#lk #screen1 .bigCard .card-body p {
  color: #8a8eab;
  margin-top: 20px;
}

#lk #screen2 h3 {
  margin-top: 140px;
  font-size: 36px;
  font-weight: bold;
  color: #1d203d;
}

#lk #screen2 .groupCard {
  margin-bottom: 200px;
}

#lk #screen2 .groupCard .card {
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 8px;
}

#lk #screen2 .groupCard .card .card-body {
  padding: 40px 72px;
}

#lk #screen2 .groupCard .card .card-body img {
  -o-object-fit: contain;
     object-fit: contain;
}

#lk #screen2 .groupCard .card .card-body .cardWrapper {
  margin-left: 64px;
}

#lk #screen2 .groupCard .card .card-body .cardWrapper h4 {
  color: #1d203d;
  font-size: 32px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  font-weight: bold;
}

#lk #screen2 .groupCard .card .card-body .cardWrapper p {
  font-size: 16px;
  color: #5a5970;
}

#lk #screen2 .groupCard .card .card-body .cardWrapper .bottomBlock {
  color: #8a8eab;
  font-size: 15px;
}

#lk #screen2 .groupCard .card .card-body .cardWrapper .bottomBlock span {
  font-size: 40px;
  font-weight: bold;
  color: #3f80ec;
}

#lk #screen2 .groupCard .card:hover .cardWrapper h4 {
  color: #3f80ec;
}

.red {
  border: 1px solid #F54F3F !important;
}

.wrong {
  color: #f54f3f;
  font-size: 14px;
}

h3.h3 {
  font-size: 36px;
  font-weight: bold;
  color: #1d203d;
  margin-top: 92px;
}

#payment .main {
  margin-bottom: 200px;
}

#payment .main h5.h5 {
  font-size: 22px;
  font-weight: bold;
  color: #1d203d;
}

#payment .main h6 {
  margin-top: 60px;
  font-size: 20px;
  font-weight: bold;
  color: #1d203d;
  margin-bottom: 30px;
}

#payment .main .categoryName {
  margin-top: 60px;
  font-size: 14px;
  color: #8a8eab;
}

#payment .main .category h6 {
  color: #5a5970;
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
}

#payment .main .cost p span, #payment .main .sale p span {
  font-size: 22px;
  font-weight: bold;
  margin-left: 12px;
  color: #3f80ec;
}

#payment .main .sale p span {
  color: #f54f3f !important;
}

#payment .main form input {
  background-color: #f2f5ff;
  border-radius: 5px;
  padding: 13px 26px;
  border: none;
  min-width: 345px;
  color: #5a5970;
}

#payment .main form button {
  border-radius: 5px;
  color: white;
  background: #3f80ec;
  padding: 18px 50px;
  font-weight: bold;
  margin-left: 15px;
}

#payment .main .groupCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#payment .main .groupCard .card {
  height: 200px;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#myProfile img {
  -o-object-fit: contain;
     object-fit: contain;
}

#myProfile .imgProf p {
  font-size: 20px;
  font-weight: bold;
  color: #1d203d;
}

#myProfile hr {
  height: 1px;
  background: rgba(138, 142, 171, 0.3);
  border: none;
  margin-top: 40px;
}

#myProfile .data h5 {
  font-size: 22px;
  font-weight: bold;
  color: #1d203d;
}

#myProfile .card:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  color: #1d203d;
}

#myProfile .passport .yourPasport {
  margin-top: 75px;
}

#myProfile .passport .yourPasport h5 {
  color: #1d203d;
  font-size: 17px;
  font-weight: bold;
}

#myProfile .passport .yourPasport .buttons a {
  text-decoration: underline;
}

#myProfile .passport .yourPasport .buttons a img {
  margin-right: 10px;
}

#myProfile .passport .yourPasport .buttons .edit {
  color: #3f80ec;
}

#myProfile .passport .yourPasport .buttons .delete {
  color: #f54f3f;
}

#myProfile .discharges h5 {
  margin-bottom: 50px;
  font-weight: bold;
}

#myProfile .discharges .discharge {
  margin-top: 60px;
}

#myProfile .discharges .discharge i {
  color: #3f80ec;
}

#myProfile .discharges .discharge h6 {
  font-weight: bold;
}

#myProfile .discharges .discharge .card .card-body p {
  color: #5a5970;
  font-weight: bold;
}

#myProfile .discharges .discharge .card .card-body a {
  color: #3f80ec;
  text-decoration: underline;
  margin-left: 8px;
}

#myProfile .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#myProfile .submit .done {
  display: block;
}

#myProfile .submit p {
  display: none;
  margin: 0;
  font-size: 14px;
  color: #4daf49;
}

#myProfile .block p {
  font-weight: bold;
  font-size: 16px;
  color: #1d203d;
  margin-top: 35px;
}

#myProfile .block input {
  background: #f2f5ff;
  border-radius: 5px;
  border: none;
  padding: 13px 26px;
}

#myProfile .block input[type="password"] {
  background-image: url("../img/noView.png");
  background-position: 95% 50%;
  background-repeat: no-repeat;
}

#test h4.h4 {
  font-size: 22px;
  font-weight: bold;
  color: #1d203d;
  margin-top: 100px;
}

#test .progress {
  height: 10px;
  border-radius: 50px;
  background: rgba(63, 128, 236, 0.1);
  margin-top: 45px;
  margin-bottom: 80px;
}

#test .progress .progress-bar {
  height: 10px;
  border-radius: 50px;
  background: #3f80ec;
}

#test .groupCard .wrong {
  margin-top: 13px;
  display: block;
}

#test .groupCard .redCard {
  border: 2px solid #f54f3f;
}

#test .groupCard .card {
  margin-top: 40px;
  padding: 30px 40px;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 12px;
}

#test .groupCard .card:hover {
  -webkit-transform: none;
          transform: none;
  color: #1d203d;
}

#test .groupCard .card .card-header {
  background: transparent;
  border: none;
}

#test .groupCard .card .card-header .color-grey {
  color: rgba(138, 142, 171, 0.4) !important;
  font-size: 14px;
}

#test .groupCard .card .card-body {
  color: #5a5970;
}

#test .groupCard .card .card-body ol li {
  margin-left: 17px;
  margin-top: 10px;
}

#test .groupCard .card .card-body ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 10px;
}

#test .groupCard .card .card-body ul li input {
  display: none;
}

#test .groupCard .card .card-body ul li label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#test .groupCard .card .card-body ul li label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-top: 5px;
  border: 1px solid #3f80ec;
  border-radius: 2px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

#test .groupCard .card .card-body ul li input:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

#test .groupCard .card .card-footer {
  background: transparent;
  border: none;
}

#test .groupCard .card .card-footer input {
  display: none;
}

#test .groupCard .card .card-footer input[type=radio]:checked + label:before {
  background: url("../img/radioOn.png") 0 0 no-repeat;
}

#test .groupCard .card .card-footer label {
  color: #1d203d;
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 35px;
}

#test .groupCard .card .card-footer label:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background: url("../img/radioOff.png") 0 0 no-repeat;
}

#test .buttons {
  margin-top: 70px;
}

button.transpBlue {
  border: 1px solid #3f80ec;
  background: transparent;
  padding: 18px 50px;
  font-weight: bold;
  font-size: 15px;
  color: #3f80ec;
}

button.btnBlue {
  padding: 18px 50px;
  background: #3f80ec;
  font-weight: bold;
  color: white;
  font-size: 15px;
}

#repeatTest .main {
  margin-top: 176px;
}

#repeatTest .main h5 {
  font-size: 21px;
  font-weight: bold;
  color: #5a5970;
}

#repeatTest .main h1 {
  font-size: 36px;
  font-weight: bold;
  color: #1d203d;
  max-width: 520px;
  margin-top: 30px;
}

#repeatTest .main form {
  margin-top: 60px;
}

#repeatTest .main form input {
  border-radius: 5px;
  background: #f2f5ff;
  color: #5a5970;
  border: none;
  padding: 17px 26px;
  width: 60%;
}

#repeatTest .main form button {
  margin-left: 15px;
}

#repeatTest .main p {
  color: rgba(138, 142, 171, 0.7);
  font-size: 14px;
  margin-top: 20px;
}

#page404 {
  background: url("../img/bg404.png") 121px 190px no-repeat;
}

#page404 .main {
  margin-top: 139px;
}

#page404 h1 {
  font-size: 36px;
  font-weight: bold;
  color: #1d203d;
  margin-bottom: 50px;
  margin-top: 70px;
}

#result h2 {
  font-weight: bold;
  font-size: 36px;
  color: #1d203d;
  margin-top: 70px;
  margin-bottom: 40px;
}

#result .topBlock .groupCard .myCard .shows {
  display: none;
}

#result .topBlock .groupCard .myCard .dropdown-toggle[aria-expanded="true"] + .shows {
  display: block;
}

#result .topBlock .groupCard .myCard .dropdown-toggle .card {
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 8px;
  padding: 25px 20px;
  z-index: 2;
}

#result .topBlock .groupCard .myCard .dropdown-toggle .card:hover {
  -webkit-transform: none;
          transform: none;
}

#result .topBlock .groupCard .myCard .dropdown-toggle .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1d203d;
}

#result .topBlock .groupCard .myCard .dropdown-toggle .card .card-body h5 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
  max-width: 85%;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

#result .topBlock .groupCard .myCard .dropdown-toggle .card .card-body i {
  font-weight: bold;
  color: #5a5970;
  font-size: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

#result .topBlock .groupCard .myCard .dropdown-toggle[aria-expanded="true"] .card .card-body h5 {
  color: #3f80ec;
}

#result .topBlock .groupCard .myCard .dropdown-toggle[aria-expanded="true"] .card .card-body i {
  -webkit-transform: none;
          transform: none;
}

#result .topBlock .groupCard .myCard .dropdown-toggle:after {
  display: none;
}

#result .topBlock .groupCard .myCard .dropdown-menu {
  position: relative !important;
  -webkit-transform: none !important;
          transform: none !important;
  float: none !important;
  z-index: auto;
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 0px 0px 8px 8px;
  border: none;
  padding: 40px;
  will-change: auto !important;
}

#result .topBlock .groupCard .myCard .dropdown-menu .gray {
  color: #5a5970;
}

#result .topBlock .groupCard .myCard .dropdown-menu h5 {
  font-size: 20px;
  font-weight: bold;
  color: #1d203d;
}

#result .topBlock .groupCard .myCard .dropdown-menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

#result .topBlock .groupCard .myCard .dropdown-menu ul li b {
  margin-right: 7px;
  color: #1d203d;
}

#result .topBlock .groupCard .myCard .dropdown-menu .summ {
  font-weight: bold;
  font-size: 20px;
  color: #1d203d;
  margin-top: 20px;
}

#result .topBlock .groupCard .hovers:after {
  display: none;
}

#result .topBlock .groupCard .hovers:before {
  content: '';
  z-index: -10;
  position: absolute;
  top: 15px;
  height: -webkit-fill-available;
  background: #3f80ec;
  border-radius: 0 0 8px 8px;
  width: 95% !important;
  -webkit-transform: translate(-1.5%) !important;
          transform: translate(-1.5%) !important;
}

#result .bottomThanCard {
  margin-top: 60px;
}

#result .bottomThanCard .discharge img {
  -o-object-fit: contain;
     object-fit: contain;
}

#result .bottomThanCard .discharge .card .card-body p {
  color: #5a5970;
  font-weight: bold;
}

#result .bottomThanCard .discharge .card .card-body a {
  color: #3f80ec;
  text-decoration: underline;
  margin-left: 8px;
}

#result #services {
  margin-top: 120px;
}

#result #services h4 {
  font-size: 36px;
  font-weight: bold;
  color: #1d203d;
}

#result #services p {
  color: #5a5970;
}

#result #services ul {
  list-style: none;
}

#result #services ul li {
  color: #5a5970;
}

#result #services ul li i {
  color: #3f80ec;
}

#result #services .groupCard {
  margin-bottom: 200px;
}

#result #services .groupCard .card {
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 8px;
}

#result #services .groupCard .card .card-body {
  padding: 40px 65px;
}

#result #services .groupCard .card .card-body img {
  -o-object-fit: contain;
     object-fit: contain;
}

#result #services .groupCard .card .card-body .cardWrapper {
  margin-left: 64px;
}

#result #services .groupCard .card .card-body .cardWrapper h4 {
  color: #1d203d;
  font-size: 32px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  font-weight: bold;
}

#result #services .groupCard .card .card-body .cardWrapper p {
  font-size: 16px;
  color: #5a5970;
}

#result #services .groupCard .card .card-body .cardWrapper .bottomBlock {
  color: #8a8eab;
  font-size: 15px;
}

#result #services .groupCard .card .card-body .cardWrapper .bottomBlock span {
  font-size: 40px;
  font-weight: bold;
  color: #3f80ec;
}

#result #services .groupCard .card:hover .cardWrapper h4 {
  color: #3f80ec;
}

/** Modals **/
.modal {
  border: none;
}

.modal .modal-dialog {
  max-width: 750px;
}

.modal .modal-dialog .modal-header .description {
  max-width: 380px;
  margin: 0;
}

.modal .modal-dialog .modal-content {
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border-radius: 16px;
  padding: 55px 100px;
}

.modal .modal-dialog .modal-content .modal-body .loc h5 {
  font-size: 20px;
  font-weight: bold;
  color: #1d203d;
}

.modal .modal-dialog .modal-content .modal-body .loc p span {
  color: #5a5970;
}

.modal .modal-dialog .modal-content .modal-body form {
  position: relative;
}

.modal .modal-dialog .modal-content .modal-body form input {
  height: 54px;
  background: #F2F5FF;
  border-radius: 5px;
  border: none;
  padding: 13px 26px;
  margin-top: 15px;
  color: #5a5970;
}

.modal .modal-dialog .modal-content .modal-body form input.login {
  background-image: url("../img/user.png");
  background-repeat: no-repeat;
  background-position: 96%;
}

.modal .modal-dialog .modal-content .modal-body form input.pass {
  background-image: url("../img/noView.png");
  background-repeat: no-repeat;
  background-position: 96%;
}

.modal .modal-dialog .modal-content .modal-body form .list-group {
  display: none;
}

.modal .modal-dialog .modal-content .modal-body form ul#myList {
  max-height: 230px;
  overflow: hidden;
  background-color: white;
}

.modal .modal-dialog .modal-content .modal-body form ul#myList li {
  border: none;
}

.modal .modal-dialog .modal-content .modal-body form .inputs {
  border-radius: 5px;
}

.modal .modal-dialog .modal-content .modal-body form .inputs .mCSB_scrollTools .mCSB_draggerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-dialog .modal-content .modal-body form .inputs .mCSB_scrollTools .mCSB_draggerRail {
  background-color: rgba(138, 142, 171, 0.3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  width: 1px;
}

.modal .modal-dialog .modal-content .modal-body form .inputs .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 3px;
  background-color: #3f80ec;
  height: 15px;
}

.modal .modal-dialog .modal-content .modal-body form .plusClass {
  -webkit-box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
          box-shadow: 4px 10px 40px rgba(23, 76, 154, 0.08);
  border: 1px solid #3F80EC;
  position: absolute;
  width: 100%;
}

.modal .modal-dialog .modal-content .modal-body form .plusClass ::-webkit-scrollbar {
  width: 3px;
}

.modal .modal-dialog .modal-content .modal-body form .plusClass ::-webkit-scrollbar-track {
  border-radius: 10px;
}

.modal .modal-dialog .modal-content .modal-body form .plusClass ::-webkit-scrollbar-thumb {
  background: #3f80ec;
  border-radius: 10px;
}

.modal .modal-dialog .modal-content .modal-body form a.forget {
  font-size: 15px;
  color: #3f80ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 12px 0 30px 0;
  font-weight: bold;
}

.modal .modal-dialog .modal-content .modal-body form .btnSignIn {
  background-color: #3f80ec;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 18px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-dialog .modal-content .modal-body, .modal .modal-dialog .modal-content .modal-header, .modal .modal-dialog .modal-content .modal-footer {
  border: none;
}

.modal .modal-dialog .modal-content .modal-body .manyally, .modal .modal-dialog .modal-content .modal-header .manyally, .modal .modal-dialog .modal-content .modal-footer .manyally {
  color: #3f80ec;
  font-weight: bold;
}

.modal .modal-dialog .modal-content .modal-body .manyally:hover, .modal .modal-dialog .modal-content .modal-header .manyally:hover, .modal .modal-dialog .modal-content .modal-footer .manyally:hover {
  text-decoration: none;
}

.modal .modal-dialog .modal-content .modal-title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .modal-dialog .close {
  top: -22px;
  padding: 10px 15px;
  background-color: #3f80ec;
  color: white;
  font-weight: normal;
  border-radius: 50%;
  right: -22px;
  position: absolute;
  opacity: 1;
}

.modal .modal-dialog .close:focus {
  outline: none;
}

.modal .modal-dialog .modal-footer .soc {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(138, 142, 171, 0.3);
}

.modal .modal-dialog .modal-footer .soc a {
  margin-left: 20px;
}

.modal .modal-dialog .modal-footer p {
  font-size: 15px;
  color: #5A5970;
}

.modal .modal-dialog .modal-footer p a {
  color: #3f80ec;
  text-decoration: underline;
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */